workflows/agents/Agent_6_-_Resume_Refiner.json
{
  "updatedAt": "2026-06-02T01:34:54.463Z",
  "createdAt": "2026-05-14T05:45:49.270Z",
  "id": "baYd2IKKbOO7WyKL",
  "name": "Agent 6 - Resume Refiner",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        -464
      ],
      "id": "f8d9712a-d2ba-4fa8-8268-777964a463d7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Agent 6: format output — plain markdown (not JSON like Agent 5)\n// Mode: Run Once for All Items\n// Propagates structured error from Call LLM on failure.\n// Falls back to original resume markdown when refinement fails or is unusable,\n// so downstream still has a valid resume to work with.\n\nconst callLLM = $('Call LLM').first().json;\nconst originalMarkdown = $('Set Inputs').first().json.resume_markdown || '';\n\n// Call LLM failed — propagate error, fall back to original\nif (callLLM.success === false) {\n  console.log(`[Agent 6] LLM call failed: ${callLLM.error?.category || 'unknown'} — ${callLLM.error?.message || 'no message'}`);\n  console.log(`[Agent 6] Falling back to original resume markdown (${originalMarkdown.length} chars)`);\n  return {\n    json: {\n      success: false,\n      resume_markdown: originalMarkdown,\n      refined: false,\n      tokens: { input: callLLM.input_tokens || 0, output: callLLM.output_tokens || 0 },\n      cached_input_tokens: callLLM.cached_input_tokens || 0,\n      cache_write_tokens: callLLM.cache_write_tokens || 0,\n      model_used: callLLM.model_used || 'unknown',\n      provider_used: callLLM.provider_used || 'unknown',\n      errors: [...(callLLM.errors || [])],\n      error: callLLM.error || {\n        category: 'unknown',\n        type: 'unknown',\n        message: 'Call LLM returned success: false with no error object',\n        provider: callLLM.provider_used || 'unknown',\n        model: callLLM.model_used || 'unknown'\n      }\n    }\n  };\n}\n\n// Normal path: parse refined markdown from content\nconst response = $input.item.json;\nconst text = response.text || response.content || response.response || response.output_text || response.completion || '';\n\nconst parseErrors = [];\nlet refinedMarkdown = '';\n\nif (!text) {\n  parseErrors.push(`No text returned from Call LLM. Keys: ${Object.keys(response).join(', ')}`);\n  console.log(`[Agent 6] ${parseErrors[parseErrors.length - 1]}`);\n} else {\n  refinedMarkdown = String(text).trim();\n  // Strip markdown code fences if the LLM wrapped the output (defensive)\n  refinedMarkdown = refinedMarkdown\n    .replace(/^```(?:markdown|md)?\\s*/i, '')\n    .replace(/\\s*```\\s*$/i, '')\n    .trim();\n}\n\n// Quality checks: too short OR identical to input\nconst tooShort = refinedMarkdown.length <= 100;\nconst identicalToOriginal = refinedMarkdown.length > 0 && refinedMarkdown === originalMarkdown;\nconst refined = !tooShort && !identicalToOriginal;\n\nlet error = null;\nif (parseErrors.length > 0) {\n  error = {\n    category: 'output_quality',\n    type: 'empty_output',\n    message: parseErrors.join('; '),\n    provider: callLLM.provider_used || 'unknown',\n    model: callLLM.model_used || 'unknown'\n  };\n} else if (tooShort) {\n  parseErrors.push(`Refined output too short (${refinedMarkdown.length} chars)`);\n  error = {\n    category: 'output_quality',\n    type: 'short_output',\n    message: parseErrors[parseErrors.length - 1],\n    provider: callLLM.provider_used || 'unknown',\n    model: callLLM.model_used || 'unknown'\n  };\n} else if (identicalToOriginal) {\n  parseErrors.push('Refined output identical to original');\n  error = {\n    category: 'output_quality',\n    type: 'no_change',\n    message: parseErrors[parseErrors.length - 1],\n    provider: callLLM.provider_used || 'unknown',\n    model: callLLM.model_used || 'unknown'\n  };\n}\n\nconst success = refined;\n\nconsole.log(`[Agent 6] Refined: ${refined}, length: ${refinedMarkdown.length} chars`);\nconsole.log(`[Agent 6] Tokens: ${callLLM.input_tokens || 0}in + ${callLLM.output_tokens || 0}out + ${callLLM.cached_input_tokens || 0}cached + ${callLLM.cache_write_tokens || 0}cache_write`);\n\nreturn {\n  json: {\n    success,\n    resume_markdown: refined ? refinedMarkdown : originalMarkdown,\n    refined,\n    tokens: { input: callLLM.input_tokens || 0, output: callLLM.output_tokens || 0 },\n    cached_input_tokens: callLLM.cached_input_tokens || 0,\n    cache_write_tokens: callLLM.cache_write_tokens || 0,\n    model_used: callLLM.model_used || 'unknown',\n    provider_used: callLLM.provider_used || 'unknown',\n    errors: parseErrors,\n    error\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -448
      ],
      "id": "76a8865d-74f7-45f6-9e1d-d80238f90f02",
      "name": "Format output"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Set Inputs — Agent 6: Refiner (Polisher)\n// Model/provider/max_tokens are config-only (config.*_refiner), like every other agent.\n// The dashboard no longer sends provider/model/max_tokens; config is the single source of truth.\nconst trigger = $input.item.json;\n\nfunction strip(val) {\n  if (val === null || val === undefined) return '';\n  if (typeof val !== 'string') return val;\n  let cleaned = val;\n  while (cleaned.length > 0 && cleaned.charAt(0) === '=') {\n    cleaned = cleaned.substring(1);\n  }\n  return cleaned;\n}\n\nconst config = trigger.config || {};\nconst systemPrompt = strip(trigger.system_prompt);\nconst descriptionHtml = strip(trigger.description_html);\nconst resumeMarkdown = strip(trigger.resume_markdown);\nconst masterDoc = strip(trigger.master_doc);\n\n// critique may arrive as Object or JSON-string\nlet critique = trigger.critique;\nif (typeof critique === 'string') {\n  let raw = critique;\n  while (raw.length > 0 && raw.charAt(0) === '=') raw = raw.substring(1);\n  try {\n    critique = JSON.parse(raw);\n  } catch (e) {\n    console.log('[Agent 6 Set Inputs] critique not parseable JSON, defaulting to empty');\n    critique = {};\n  }\n}\ncritique = critique || {};\n\n// verifier may arrive as Object or JSON-string\nlet verifier = trigger.verifier;\nif (typeof verifier === 'string') {\n  let raw = verifier;\n  while (raw.length > 0 && raw.charAt(0) === '=') raw = raw.substring(1);\n  try {\n    verifier = JSON.parse(raw);\n  } catch (e) {\n    console.log('[Agent 6 Set Inputs] verifier not parseable JSON, defaulting to empty');\n    verifier = {};\n  }\n}\nverifier = verifier || {};\nif (verifier.result && typeof verifier.result === 'object') {\n  verifier = verifier.result;\n}\n\n// Provider / model / max_tokens are config-only (config.*_refiner). Throw loud if missing.\nconst provider = strip(config.provider_refiner);\nif (!provider) {\n  throw new Error('[Agent 6] config.provider_refiner is required. Set it in your config sheet (anthropic | openai | gemini).');\n}\n\nconst model = strip(config.model_refiner);\nif (!model) {\n  throw new Error('[Agent 6] config.model_refiner is required. Set it in your config sheet.');\n}\n\nconst maxTokens = Number(config.max_tokens_refiner);\nif (!maxTokens || Number.isNaN(maxTokens)) {\n  throw new Error('[Agent 6] config.max_tokens_refiner is required and must be a number.');\n}\n\nconst _ci = Array.isArray(critique.issues) ? critique.issues : [];\nconsole.log(`[Agent 6 Set Inputs] master_doc: ${masterDoc.length} chars, resume_markdown: ${resumeMarkdown.length} chars, critique: ${_ci.length} issues (${critique.critical_count || 0} critical, ${critique.major_count || 0} major, ${critique.minor_count || 0} minor), ${(critique.preserve || []).length} preserve, verifier: ${(verifier.issues || []).length} issues, provider: ${provider}, model: ${model}`);\n\nreturn {\n  json: {\n    config,\n    system_prompt: systemPrompt,\n    description_html: descriptionHtml,\n    resume_markdown: resumeMarkdown,\n    master_doc: masterDoc,\n    critique,\n    verifier,\n    provider,\n    model,\n    max_tokens: maxTokens\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -448
      ],
      "id": "610877f2-014f-45e3-901a-6e4f28235e9c",
      "name": "Set Inputs"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mxnzrmY5JgwI2DNY",
          "mode": "list",
          "cachedResultUrl": "/workflow/mxnzrmY5JgwI2DNY",
          "cachedResultName": "Call LLM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "provider": "=={{ $json.provider }}",
            "model": "=={{ $json.model }}",
            "system": "=={{ $json.system }}",
            "user_message": "=={{ $json.user_message }}",
            "max_tokens": "=={{ Number($json.max_tokens) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "provider",
              "displayName": "provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system",
              "displayName": "system",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "max_tokens",
              "displayName": "max_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -48,
        -448
      ],
      "id": "ddbcc6b7-dc77-45bf-8581-60c5f8220d03",
      "name": "Call LLM",
      "retryOnFail": false,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build Prompt — Agent 6: Refiner\nconst input = $input.item.json;\nconst systemPrompt = input.system_prompt || '';\nconst masterDoc = input.master_doc || '';\nconst resumeMarkdown = input.resume_markdown || '';\nconst critique = input.critique || {};\nconst verifier = input.verifier || {};\nconst descriptionHtml = input.description_html || '';\n\nif (!systemPrompt || systemPrompt.length < 200) {\n  throw new Error(`[Agent 6] system_prompt missing or too short (${systemPrompt.length} chars). Check Prompt Loader output and orchestrator mapping.`);\n}\nif (!resumeMarkdown || resumeMarkdown.length < 100) {\n  throw new Error(`[Agent 6] resume_markdown missing or too short (${resumeMarkdown.length} chars). Check Agent 1's output path in orchestrator.`);\n}\nif (!masterDoc || masterDoc.length < 200) {\n  throw new Error(`[Agent 6] master_doc missing or too short (${masterDoc.length} chars). Check Data Loader output.`);\n}\n\nconst OUTPUT_CONTRACT = `## OUTPUT CONTRACT\n- Output ONLY the refined resume markdown.\n- Do NOT wrap in JSON or any envelope.\n- Do NOT prepend or append commentary, preamble, or summary.\n- Start directly with the resume's first line (the tagline beginning with '# ').\n- Preserve the original markdown structure: same section headers, same roles in the same order, same date format.\n- Output must be 100% faithful to the master doc — no invented facts, no embellishments.\n- Apply ALL verifier findings (corrections to unsupported or exaggerated claims) before applying critique suggestions.\n\n## Professional Experience format (required for rendering)\n\nEach role must follow this exact structure:\n\n### Company Name | Role Title | Start Year – End Year\n\n*One-line scope summary. No metrics, no bullets.*\n\n- Bullet (action verb start, quantified where possible)\n\nRole header line must:\n- Start with \\`### \\` (the h3 marker — required for proper styling)\n- Use \\` | \\` (space-pipe-space) as the separator between company, title, and years\n- Use \\` – \\` (en-dash with spaces) between start and end years\n- Contain NO bold or italic markdown — the renderer adds styling\n\nThe scope line directly under the role header must:\n- Be wrapped in \\`*...*\\` for italic\n- Be one line, no wrapping\n- Contain NO metrics and NO bullet marker (\\`-\\` or \\`*\\`)`;\n\nconst userMessage = `# JOB DESCRIPTION\n${descriptionHtml}\n\n# CANDIDATE MASTER DOCUMENT\n${masterDoc}\n\n# CURRENT TAILORED RESUME (to be refined)\n${resumeMarkdown}\n\n# CRITIQUE (from review agent — apply suggestions to improve positioning and JD alignment)\n# Each issue carries a \"severity\" of critical, major, or minor. Address critical issues first, then major, then minor. Do not regress anything in \"preserve\".\n${JSON.stringify(critique, null, 2)}\n\n# VERIFIER FINDINGS (claims that need correcting or removal — non-negotiable)\n${JSON.stringify(verifier, null, 2)}\n\n${OUTPUT_CONTRACT}`;\n\nconsole.log(`[Agent 6 Build Prompt] system_prompt: ${systemPrompt.length} chars`);\nconsole.log(`[Agent 6 Build Prompt] user_message: ${userMessage.length} chars`);\nconsole.log(`[Agent 6 Build Prompt] critique: ${Array.isArray(critique.issues) ? critique.issues.length : 0} issues (${critique.critical_count || 0} critical, ${critique.major_count || 0} major, ${critique.minor_count || 0} minor)`);\nconsole.log(`[Agent 6 Build Prompt] verifier: verdict=${verifier.verdict || 'unknown'}, ${(verifier.issues || []).length} issues`);\n\nreturn {\n  json: {\n    system_prompt: systemPrompt,\n    user_message: userMessage,\n    provider: input.provider || 'anthropic',\n    model: input.model || 'claude-sonnet-4-5-20250929',\n    max_tokens: input.max_tokens || 8192\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -448
      ],
      "id": "b3eddd97-40a3-41e4-80a7-fff45c3f237a",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "description_html"
            },
            {
              "name": "resume_markdown"
            },
            {
              "name": "master_doc"
            },
            {
              "name": "config",
              "type": "object"
            },
            {
              "name": "system_prompt"
            },
            {
              "name": "verifier",
              "type": "object"
            },
            {
              "name": "critique",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -832,
        -624
      ],
      "id": "885fe750-d4f7-432a-9537-fd356cde5728",
      "name": "Trigger"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Format output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "31b589b4-f284-4c3a-a23d-70ab36158b83",
  "activeVersionId": "31b589b4-f284-4c3a-a23d-70ab36158b83",
  "versionCounter": 159,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-14T05:45:49.273Z",
      "createdAt": "2026-05-14T05:45:49.273Z",
      "role": "workflow:owner",
      "workflowId": "baYd2IKKbOO7WyKL",
      "projectId": "kZS932EjZfpXmb7H",
      "project": {
        "updatedAt": "2026-05-06T02:54:00.051Z",
        "createdAt": "2026-05-06T02:52:14.918Z",
        "id": "kZS932EjZfpXmb7H",
        "name": "Maestro AI",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e4ae7d04-ed18-4bb8-a6ad-b4b4dcae93ec"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 31b589b4",
    "description": ""
  }
}