workflows/agents/Agent_10_-_Job_Ranker.json
{
  "updatedAt": "2026-06-10T23:31:04.216Z",
  "createdAt": "2026-05-28T23:08:13.060Z",
  "id": "HbN1BQDIqQcaWFxb",
  "name": "Agent 10 - Job Ranker",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -176
      ],
      "id": "569457e9-d1bf-41b8-9442-ef79af37a7b4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "jobs",
              "type": "array"
            },
            {
              "name": "config",
              "type": "object"
            },
            {
              "name": "watchlist",
              "type": "array"
            },
            {
              "name": "pre_ranker_prompt"
            },
            {
              "name": "pricing",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        32
      ],
      "id": "e6a7447a-6dd5-4adb-bbbf-0632a9a6def2",
      "name": "Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Build Rank Prompt — Agent 10 (Job Ranker) — BATCHED\n// Emits ONE ITEM PER CHUNK so the downstream Split In Batches loop sends each\n// chunk to Call LLM separately. The single-call version truncated at the model's\n// 8192-output-token ceiling once job count pushed the JSON array past ~266 jobs\n// (≈30 output tokens/job). Chunking keeps every call's output well under the cap.\n//\n// CRITICAL: jobs are numbered with their GLOBAL index (1-based across the whole\n// run, not per-chunk), so the LLM's \"i\" values are unique across batches and\n// Apply Rank can merge all batches by \"i\" without collision.\n$getWorkflowStaticData('global').rankerBatches = [];\nconst trigger = $input.first().json;\nconst config = trigger.config || {};\nconst jobs = Array.isArray(trigger.jobs) ? trigger.jobs : [];\n\nconst strip = (v) => {\n  if (v === null || v === undefined) return '';\n  if (typeof v !== 'string') return v;\n  let cleaned = v;\n  while (cleaned.length > 0 && cleaned.charAt(0) === '=') cleaned = cleaned.substring(1);\n  return cleaned;\n};\nconst systemPrompt = strip(trigger.system_prompt);\nconst target_titles = strip(config.target_titles);\nconst background_titles = strip(config.background_titles);\nconst target_locations = strip(config.target_location) || strip(config.applicant_location);\nconst target_country = strip(config.target_country);\n\nconst OUTPUT_CONTRACT = `\n## OUTPUT FORMAT\nOutput STRICT JSON only. No prose. No markdown fences. Format: a JSON array of objects { \"i\": <the exact index number shown for each job below>, \"t\": <target_title_relevance int 0-100>, \"b\": <background_title_relevance int 0-100>, \"l\": <location_fit int 0-100> }. Use the SAME index number shown next to each job (do not renumber from 1). Include every job in this batch exactly once. Order does not matter. If background_titles is blank, return \"b\": 0 for every job.`;\nconst system = systemPrompt + OUTPUT_CONTRACT;\n\n// Chunk size: 150 jobs * ~30 output tokens = ~4500 tokens, safely under the\n// 8192 model output ceiling. Tunable via config.discovery_rank_chunk_size.\nconst cfgChunk = parseInt(config.discovery_rank_chunk_size, 10);\nconst CHUNK = Number.isFinite(cfgChunk) && cfgChunk > 0 ? cfgChunk : 150;\n\nconst cfgFloor = parseInt(config.max_tokens_discovery_ranker, 10);\nconst floor = Number.isFinite(cfgFloor) && cfgFloor > 0 ? cfgFloor : 2000;\n\nconst fmtLoc = (j) => {\n  const rawLoc = j.location || '';\n  return rawLoc ? (j.remote ? `${rawLoc} (remote)` : rawLoc) : (j.remote ? 'Remote' : 'Unknown');\n};\n\nconst items = [];\nconst totalChunks = Math.max(1, Math.ceil(jobs.length / CHUNK));\nfor (let c = 0; c < totalChunks; c++) {\n  const start = c * CHUNK;\n  const slice = jobs.slice(start, start + CHUNK);\n  // Number with GLOBAL index (start + i + 1) so \"i\" is unique across batches.\n  const jobLines = slice.map((j, i) => {\n    const globalIdx = start + i + 1;\n    return `${globalIdx}. title=\"${j.title || 'Unknown'}\" | company=\"${j.company || 'Unknown'}\" | location=\"${fmtLoc(j)}\"`;\n  }).join('\\n');\n\n  const user_message = `Target titles: ${target_titles}\nBackground titles: ${background_titles || '(none — score \"b\" as 0 for every job)'}\nTarget locations: ${target_locations}\nTarget country: ${target_country || '(any)'}\nJobs (batch ${c + 1} of ${totalChunks}, ${slice.length} jobs; use the index number shown for each):\n${jobLines}\nReturn the JSON array now.`;\n\n  // Per-chunk max_tokens sized to this chunk only.\n  const chunkMaxTokens = Math.min(8000, Math.max(floor, slice.length * 30));\n\n  items.push({\n    json: {\n      ...trigger,\n      system,\n      user_message,\n      max_tokens: chunkMaxTokens,\n      _batch_index: c + 1,\n      _batch_total: totalChunks,\n      _batch_size: slice.length\n    }\n  });\n}\n\nconsole.log(`[Build Rank Prompt] ${jobs.length} jobs -> ${items.length} batch(es) of <=${CHUNK}; system: ${system.length} chars`);\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -80
      ],
      "id": "6349d848-a423-465b-9667-9920d810ac07",
      "name": "Build Rank Prompt",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mxnzrmY5JgwI2DNY",
          "mode": "list",
          "cachedResultUrl": "/workflow/mxnzrmY5JgwI2DNY",
          "cachedResultName": "Call LLM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "provider": "=={{ $json.provider }}",
            "model": "=={{ $json.model }}",
            "system": "=={{ $json.system }}",
            "user_message": "=={{ $json.user_message }}",
            "max_tokens": "=={{ Number($json.max_tokens) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "provider",
              "displayName": "provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system",
              "displayName": "system",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "max_tokens",
              "displayName": "max_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        464,
        96
      ],
      "id": "38494c79-8fef-4fc3-8642-a2d20b4ec04f",
      "name": "Call LLM"
    },
    {
      "parameters": {
        "jsCode": "// Apply Rank — Agent 10 (Job Ranker) — BATCHED\n// Reads accumulated batch outputs from static data (Collect Batch pushed each\n// loop iteration). Merges scores by the GLOBAL \"i\" the prompt numbered each job\n// with. Emits one item per ranked job plus one usage item. Cap applied downstream.\n\nconst trigger = $('Trigger').first().json;\nconst jobs = Array.isArray(trigger.jobs) ? trigger.jobs : [];\nconst config = trigger.config || {};\nconst watchlist = Array.isArray(trigger.watchlist) ? trigger.watchlist : [];\nconst runId = trigger.run_id || '';\n\nconst wt = Number(config.discovery_rank_weight_title ?? 0.75);\nconst wl = Number(config.discovery_rank_weight_location ?? 0.25);\nconst watchlistBoost = Number(config.discovery_rank_watchlist_boost ?? 10);\nconst floor = Number(config.discovery_rank_floor ?? 30);\nconst locationHardFloor = Number(config.discovery_rank_location_hard_floor ?? 20);\nconst titleHardFloor = Number(config.discovery_rank_title_hard_floor ?? 25);\n\nconst normCompany = (s) => {\n  let v = String(s || '').toLowerCase().replace(/[.,]/g, ' ').replace(/\\s+/g, ' ').trim();\n  v = v.replace(/^the\\s+/, '');\n  for (let i = 0; i < 3; i++) {\n    const next = v.replace(/\\s+(inc|llc|corp|corporation|ltd|limited|co|company|gmbh|sa|ag|plc|nv|bv|pty|holdings|group)$/, '').trim();\n    if (next === v) break;\n    v = next;\n  }\n  return v;\n};\nconst watchlistSet = new Set(\n  watchlist.map(w => normCompany(typeof w === 'string' ? w : (w?.company ?? w?.name ?? '')))\n);\n\n// --- Parse LLM scores across ALL batches (from static data) ---\nconst staticData = $getWorkflowStaticData('global');\nconst llmItems = (staticData.rankerBatches || []).map(j => ({ json: j }));\nstaticData.rankerBatches = []; // reset for next run\n\nlet scores = [];\nlet anyBatchFailed = false;\nlet anyParseFailed = false;\nlet failReason = '';\nlet aggIn = 0, aggOut = 0, aggCacheRead = 0, aggCacheWrite = 0;\nlet modelUsed = '';\nlet providerUsed = config.provider_discovery_ranker || 'anthropic';\n\nfor (const item of llmItems) {\n  const out = item.json || {};\n  if (out.success === false) {\n    anyBatchFailed = true;\n    failReason = out?.error?.message || out?.errors?.[0] || 'LLM call failed';\n    continue;\n  }\n  try {\n    const raw = out?.message?.content?.[0]?.text\n      ?? out?.message?.content\n      ?? out?.content?.[0]?.text\n      ?? out?.content\n      ?? out?.output\n      ?? '';\n    const text = typeof raw === 'string' ? raw : JSON.stringify(raw);\n    const match = text.match(/\\[[\\s\\S]*\\]/);\n    if (match) {\n      const arr = JSON.parse(match[0]);\n      if (Array.isArray(arr)) scores = scores.concat(arr);\n      else anyParseFailed = true;\n    } else {\n      anyParseFailed = true;\n    }\n  } catch (e) {\n    console.log('[Apply Rank] batch parse failed:', e.message);\n    anyParseFailed = true;\n  }\n  const u = out?.usage || out?.message?.usage || {};\n  aggIn         += Number(out.input_tokens ?? u.input_tokens ?? u.prompt_tokens ?? 0);\n  aggOut        += Number(out.output_tokens ?? u.output_tokens ?? u.completion_tokens ?? 0);\n  aggCacheRead  += Number(out.cached_input_tokens ?? u.cache_read_input_tokens ?? 0);\n  aggCacheWrite += Number(out.cache_write_tokens ?? u.cache_creation_input_tokens ?? 0);\n  if (!modelUsed) modelUsed = out?.model_used ?? out?.model ?? out?.message?.model ?? '';\n}\n\n// --- Hard-fail on incomplete ranking ---\nconst noScores = !Array.isArray(scores) || scores.length === 0;\nif (anyBatchFailed || anyParseFailed || noScores) {\n  const reason = anyBatchFailed\n    ? failReason\n    : (anyParseFailed ? 'one or more batches could not be parsed (possible truncation)' : 'no scores returned');\n  throw new Error(`[Apply Rank] Ranker produced incomplete scores across ${llmItems.length} batch(es) — failing run rather than ranking on partial data. Reason: ${reason}`);\n}\n\nconst scoreByIdx = new Map();\nfor (const s of scores) {\n  if (typeof s?.i === 'number') {\n    scoreByIdx.set(s.i, { t: Number(s.t ?? 0), b: Number(s.b ?? 0), l: Number(s.l ?? 0) });\n  }\n}\n\nconst annotated = jobs.map((job, idx) => {\n  const s = scoreByIdx.get(idx + 1);\n  const missing = !s;\n  const titleTarget = s ? s.t : 50;\n  const titleBackground = s ? s.b : 50;\n  const locationFit = s ? s.l : 50;\n  const titleBest = Math.max(titleTarget, titleBackground);\n  const inWatchlist = watchlistSet.has(normCompany(job.company));\n  const weighted = (wt * titleBest) + (wl * locationFit);\n  const rankScore = weighted + (inWatchlist ? watchlistBoost : 0);\n  const failsLocation = !missing && locationFit < locationHardFloor;\n  const failsTitle = !missing && titleTarget < titleHardFloor && titleBackground < titleHardFloor;\n  return {\n    ...job,\n    _title_relevance_target: titleTarget,\n    _title_relevance_background: titleBackground,\n    _title_relevance_best: titleBest,\n    _location_fit: locationFit,\n    _in_watchlist: inWatchlist,\n    _rank_score: rankScore,\n    _ranker_fallback: missing,\n    _location_gate_failed: failsLocation,\n    _title_gate_failed: failsTitle,\n  };\n});\n\nconst droppedByLocation = annotated.filter(j => j._location_gate_failed).length;\nconst droppedByTitle = annotated.filter(j => j._title_gate_failed && !j._location_gate_failed).length;\n\nconst ranked = annotated\n  .filter(j => !j._location_gate_failed)\n  .filter(j => !j._title_gate_failed)\n  .filter(j => j._rank_score >= floor)\n  .sort((a, b) => b._rank_score - a._rank_score);\n\nconsole.log(`[Apply Rank] ${jobs.length} input across ${llmItems.length} batch(es), ${scores.length} scores, dropped ${droppedByLocation} by location, ${droppedByTitle} by title, ${ranked.length} above floor (${floor})`);\n\nconst PRICING = {\n  'claude-haiku-4-5-20251001': { i: 1.00, o: 5.00, cr: 0.10, cw: 1.25 },\n  'claude-haiku-4-5':          { i: 1.00, o: 5.00, cr: 0.10, cw: 1.25 },\n  'claude-sonnet-4-5-20250929':{ i: 3.00, o: 15.00, cr: 0.30, cw: 3.75 },\n  'claude-sonnet-4-6':         { i: 3.00, o: 15.00, cr: 0.30, cw: 3.75 },\n  'claude-opus-4-6':           { i: 15.00, o: 75.00, cr: 1.50, cw: 18.75 },\n  'claude-opus-4-7':           { i: 15.00, o: 75.00, cr: 1.50, cw: 18.75 },\n};\nconst rate = PRICING[modelUsed] || PRICING['claude-haiku-4-5-20251001'];\nconst cost = ((aggIn * rate.i) + (aggOut * rate.o) + (aggCacheRead * rate.cr) + (aggCacheWrite * rate.cw)) / 1_000_000;\n\nconst usage = {\n  _type: 'usage',\n  run_id: runId,\n  agent_id: 'agent_10',\n  tokens: { input: aggIn, output: aggOut },\n  cached_input_tokens: aggCacheRead,\n  cache_write_tokens: aggCacheWrite,\n  cost,\n  model_used: modelUsed,\n  provider_used: providerUsed,\n  scored_at: new Date().toISOString(),\n};\n\nconst out = ranked.map(j => ({ json: j }));\nout.push({ json: usage });\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -80
      ],
      "id": "027b9fea-0be2-4985-bbe5-50fe70196f98",
      "name": "Apply Rank",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Summarize — Agent 10 (Job Ranker)\n// Collapses Apply Rank's per-job emit stream into one item with usage.\n// Reads Call LLM's normalized response (top-level input_tokens etc.) and\n// computes cost using Trigger.pricing. Filters out the {_type:'usage'} sentinel\n// that Apply Rank pushes so the jobs array contains only real jobs.\n\nconst items = $input.all().map(i => i.json);\nconst jobs = items.filter(j => j && j._type !== 'usage' && (j.url || j.title));\n\nconst llmOut = $('Call LLM').first()?.json || {};\nconst triggerData = $('Trigger').first().json;\nconst config = triggerData.config || {};\n\n// Pricing may arrive as a JSON string if the parent's Execute Workflow node has\n// convertFieldsToString:true. Parse defensively.\nlet pricing = triggerData.pricing || {};\nif (typeof pricing === 'string') {\n  try { pricing = JSON.parse(pricing); } catch (e) { pricing = {}; }\n}\n\nconst modelUsed    = llmOut.model_used    || config.model_discovery_ranker    || 'unknown';\nconst providerUsed = llmOut.provider_used || config.provider_discovery_ranker || 'unknown';\nconst tokensInput  = Number(llmOut.input_tokens         || 0);\nconst tokensOutput = Number(llmOut.output_tokens        || 0);\nconst cachedInput  = Number(llmOut.cached_input_tokens  || 0);\nconst cacheWrite   = Number(llmOut.cache_write_tokens   || 0);\n\nconst rates = pricing[modelUsed] || null;\nconst cost = rates ? (\n  tokensInput  / 1e6 * (rates.input_per_million        || 0) +\n  tokensOutput / 1e6 * (rates.output_per_million       || 0) +\n  cachedInput  / 1e6 * (rates.cached_input_per_million || 0) +\n  cacheWrite   / 1e6 * (rates.cache_write_per_million  || 0)\n) : 0;\n\nif (!rates) {\n  console.log(`[Summarize] WARNING: no pricing for model \"${modelUsed}\". Cost will be 0. Pricing keys available: ${Object.keys(pricing).join(', ') || '(none)'}`);\n}\n\nconst usage = {\n  model_used: modelUsed,\n  provider_used: providerUsed,\n  tokens: { input: tokensInput, output: tokensOutput },\n  cached_input_tokens: cachedInput,\n  cache_write_tokens: cacheWrite,\n  cost\n};\n\nconsole.log(`[Job Post Processing] ${jobs.length} jobs after dedup/limit; agent_10 usage: ${tokensInput}in/${tokensOutput}out, cost=$${cost.toFixed(6)}, model=${modelUsed}`);\n\nreturn [{ json: { jobs, count: jobs.length, usage } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -80
      ],
      "id": "d65f673d-3687-4437-833f-9b84c2d46a85",
      "name": "Summarize",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "maxItems": "={{ Math.max(1, Math.trunc(Number($('Trigger').first().json.config?.discovery_max_jobs_per_run) || 10)) }}"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        608,
        -80
      ],
      "id": "0ff37487-4b7e-41fc-8c03-6e57cfdb5c4c",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// Set Inputs — Agent 10: Job Ranker\n// Reads ranker-specific config keys, validates them, and emits a flat payload\n// for Build Rank Prompt + Call LLM. Mirrors Agent 8's Set Inputs pattern so\n// the ranker has its own dedicated model/provider/max_tokens config, fully\n// independent from the scorer.\nconst trigger = $input.item.json;\n\nfunction strip(val) {\n  if (val === null || val === undefined) return '';\n  if (typeof val !== 'string') return val;\n  let cleaned = val;\n  while (cleaned.length > 0 && cleaned.charAt(0) === '=') {\n    cleaned = cleaned.substring(1);\n  }\n  return cleaned;\n}\n\nconst config = trigger.config || {};\nconst systemPrompt = strip(trigger.system_prompt || trigger.pre_ranker_prompt);\n\nconst provider = strip(config.provider_discovery_ranker);\nif (!provider) throw new Error('[Agent 10] config.provider_discovery_ranker is required.');\nconst model = strip(config.model_discovery_ranker);\nif (!model) throw new Error('[Agent 10] config.model_discovery_ranker is required.');\n\n// max_tokens floor is read by Build Rank Prompt from config.max_tokens_discovery_ranker\n// (dynamic per job count). Don't validate it here — Build Rank Prompt has a 2000 fallback.\n\nconsole.log(`[Agent 10 Set Inputs] jobs=${(trigger.jobs || []).length}, provider=${provider}, model=${model}`);\n\nconsole.log(`[Agent 10 Set Inputs] jobs=${(trigger.jobs || []).length}, provider=${provider}, model=${model}`);\n\n// Do NOT spread the fat jobs array forward. Build Rank Prompt only needs slim\n// job fields to build the LLM prompt; Apply Rank reads the FULL jobs from\n// $('Trigger') directly (so description_html etc. survive for the recorder).\n// Forwarding 39MB through here + Build Rank Prompt + Call LLM is what times out\n// the task runner on serialization. Pass slim jobs for the prompt only.\nconst slimJobs = (Array.isArray(trigger.jobs) ? trigger.jobs : []).map(j => ({\n  title: j.title,\n  company: j.company,\n  location: j.location,\n  remote: j.remote\n}));\nconst { jobs: _fat, ...triggerRest } = trigger;\n\nreturn {\n  json: {\n    ...triggerRest,\n    jobs: slimJobs,\n    config,\n    system_prompt: systemPrompt,\n    provider,\n    model\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -80
      ],
      "id": "0533db86-f71c-4192-bda3-3245ccad47af",
      "name": "Set Inputs"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        -80
      ],
      "id": "7421bc78-f2bd-4fab-b8e6-aa2cde1c97b2",
      "name": "Loop Over Batches"
    },
    {
      "parameters": {
        "jsCode": "// Collect Batch — persist each loop iteration's Call LLM output so Apply Rank\n// can read ALL batches. ($('Call LLM').all() only returns the last iteration.)\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rankerBatches) staticData.rankerBatches = [];\nstaticData.rankerBatches.push($input.first().json);\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        112
      ],
      "id": "0ca2b18c-2b52-4e15-ba07-1d5d108c729c",
      "name": "Collect Batch"
    }
  ],
  "connections": {
    "Build Rank Prompt": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Collect Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Rank": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "Build Rank Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Batches": {
      "main": [
        [
          {
            "node": "Apply Rank",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Batch": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Build Rank Prompt": {
      "rankerBatches": []
    },
    "node:Collect Batch": {
      "rankerBatches": [
        {
          "success": true,
          "content": "```json\n[\n{\"i\": 1, \"t\": 2, \"b\": 2, \"l\": 100},\n{\"i\": 2, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 3, \"t\": 2, \"b\": 2, \"l\": 30},\n{\"i\": 4, \"t\": 2, \"b\": 2, \"l\": 100},\n{\"i\": 5, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 6, \"t\": 2, \"b\": 2, \"l\": 30},\n{\"i\": 7, \"t\": 2, \"b\": 2, \"l\": 100},\n{\"i\": 8, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 9, \"t\": 2, \"b\": 2, \"l\": 2},\n{\"i\": 10, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 11, \"t\": 2, \"b\": 2, \"l\": 95},\n{\"i\": 12, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 13, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 14, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 15, \"t\": 2, \"b\": 2, \"l\": 95},\n{\"i\": 16, \"t\": 2, \"b\": 2, \"l\": 4},\n{\"i\": 17, \"t\": 2, \"b\": 2, \"l\": 4},\n{\"i\": 18, \"t\": 2, \"b\": 2, \"l\": 4},\n{\"i\": 19, \"t\": 2, \"b\": 2, \"l\": 2},\n{\"i\": 20, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 21, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 22, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 23, \"t\": 2, \"b\": 2, \"l\": 4},\n{\"i\": 24, \"t\": 2, \"b\": 2, \"l\": 30},\n{\"i\": 25, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 26, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 27, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 28, \"t\": 2, \"b\": 2, \"l\": 4},\n{\"i\": 29, \"t\": 2, \"b\": 2, \"l\": 95},\n{\"i\": 30, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 31, \"t\": 2, \"b\": 2, \"l\": 30},\n{\"i\": 32, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 33, \"t\": 2, \"b\": 2, \"l\": 30},\n{\"i\": 34, \"t\": 2, \"b\": 2, \"l\": 2},\n{\"i\": 35, \"t\": 2, \"b\": 2, \"l\": 30},\n{\"i\": 36, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 37, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 38, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 39, \"t\": 2, \"b\": 2, \"l\": 4},\n{\"i\": 40, \"t\": 2, \"b\": 2, \"l\": 1},\n{\"i\": 41, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 42, \"t\": 2, \"b\": 2, \"l\": 30},\n{\"i\": 43, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 44, \"t\": 2, \"b\": 2, \"l\": 1},\n{\"i\": 45, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 46, \"t\": 2, \"b\": 2, \"l\": 1},\n{\"i\": 47, \"t\": 2, \"b\": 2, \"l\": 1},\n{\"i\": 48, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 49, \"t\": 2, \"b\": 2, \"l\": 60},\n{\"i\": 50, \"t\": 2, \"b\": 2, \"l\": 1},\n{\"i\": 51, \"t\": 2, \"b\": 2, \"l\": 8},\n{\"i\": 52, \"t\": 90, \"b\": 92, \"l\": 8},\n{\"i\": 53, \"t\": 92, \"b\": 92, \"l\": 95},\n{\"i\": 54, \"t\": 92, \"b\": 92, \"l\": 35},\n{\"i\": 55, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 56, \"t\": 2, \"b\": 2, \"l\": 1},\n{\"i\": 57, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 58, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 59, \"t\": 92, \"b\": 92, \"l\": 8},\n{\"i\": 60, \"t\": 90, \"b\": 92, \"l\": 60},\n{\"i\": 61, \"t\": 90, \"b\": 92, \"l\": 5},\n{\"i\": 62, \"t\": 92, \"b\": 92, \"l\": 95},\n{\"i\": 63, \"t\": 90, \"b\": 92, \"l\": 5},\n{\"i\": 64, \"t\": 92, \"b\": 92, \"l\": 8},\n{\"i\": 65, \"t\": 92, \"b\": 92, \"l\": 5},\n{\"i\": 66, \"t\": 92, \"b\": 92, \"l\": 8},\n{\"i\": 67, \"t\": 92, \"b\": 92, \"l\": 60},\n{\"i\": 68, \"t\": 35, \"b\": 35, \"l\": 60},\n{\"i\": 69, \"t\": 90, \"b\": 92, \"l\": 60},\n{\"i\": 70, \"t\": 92, \"b\": 92, \"l\": 35},\n{\"i\": 71, \"t\": 2, \"b\": 2, \"l\": 4},\n{\"i\": 72, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 73, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 74, \"t\": 2, \"b\": 2, \"l\": 1},\n{\"i\": 75, \"t\": 2, \"b\": 2, \"l\": 95},\n{\"i\": 76, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 77, \"t\": 2, \"b\": 2, \"l\": 95},\n{\"i\": 78, \"t\": 92, \"b\": 92, \"l\": 30},\n{\"i\": 79, \"t\": 2, \"b\": 2, \"l\": 1},\n{\"i\": 80, \"t\": 2, \"b\": 2, \"l\": 95},\n{\"i\": 81, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 82, \"t\": 2, \"b\": 2, \"l\": 95},\n{\"i\": 83, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 84, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 85, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 86, \"t\": 2, \"b\": 2, \"l\": 1},\n{\"i\": 87, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 88, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 89, \"t\": 2, \"b\": 2, \"l\": 95},\n{\"i\": 90, \"t\": 32, \"b\": 32, \"l\": 95},\n{\"i\": 91, \"t\": 2, \"b\": 2, \"l\": 8},\n{\"i\": 92, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 93, \"t\": 2, \"b\": 2, \"l\": 95},\n{\"i\": 94, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 95, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 96, \"t\": 2, \"b\": 2, \"l\": 4},\n{\"i\": 97, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 98, \"t\": 2, \"b\": 2, \"l\": 30},\n{\"i\": 99, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 100, \"t\": 2, \"b\": 2, \"l\": 1},\n{\"i\": 101, \"t\": 5, \"b\": 5, \"l\": 8},\n{\"i\": 102, \"t\": 5, \"b\": 5, \"l\": 5},\n{\"i\": 103, \"t\": 18, \"b\": 18, \"l\": 95},\n{\"i\": 104, \"t\": 18, \"b\": 18, \"l\": 1},\n{\"i\": 105, \"t\": 5, \"b\": 5, \"l\": 8},\n{\"i\": 106, \"t\": 5, \"b\": 5, \"l\": 60},\n{\"i\": 107, \"t\": 2, \"b\": 2, \"l\": 95},\n{\"i\": 108, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 109, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 110, \"t\": 92, \"b\": 92, \"l\": 60},\n{\"i\": 111, \"t\": 2, \"b\": 2, \"l\": 60},\n{\"i\": 112, \"t\": 18, \"b\": 18, \"l\": 60},\n{\"i\": 113, \"t\": 2, \"b\": 2, \"l\": 60},\n{\"i\": 114, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 115, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 116, \"t\": 18, \"b\": 18, \"l\": 5},\n{\"i\": 117, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 118, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 119, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 120, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 121, \"t\": 32, \"b\": 32, \"l\": 60},\n{\"i\": 122, \"t\": 32, \"b\": 32, \"l\": 3},\n{\"i\": 123, \"t\": 32, \"b\": 32, \"l\": 60},\n{\"i\": 124, \"t\": 32, \"b\": 32, \"l\": 95},\n{\"i\": 125, \"t\": 32, \"b\": 32, \"l\": 35},\n{\"i\": 126, \"t\": 32, \"b\": 32, \"l\": 8},\n{\"i\": 127, \"t\": 32, \"b\": 32, \"l\": 1},\n{\"i\": 128, \"t\": 32, \"b\": 32, \"l\": 4},\n{\"i\": 129, \"t\": 32, \"b\": 32, \"l\": 35},\n{\"i\": 130, \"t\": 32, \"b\": 32, \"l\": 1},\n{\"i\": 131, \"t\": 32, \"b\": 32, \"l\": 1},\n{\"i\": 132, \"t\": 32, \"b\": 32, \"l\": 8},\n{\"i\": 133, \"t\": 32, \"b\": 32, \"l\": 8},\n{\"i\": 134, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 135, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 136, \"t\": 18, \"b\": 18, \"l\": 35},\n{\"i\": 137, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 138, \"t\": 2, \"b\": 2, \"l\": 95},\n{\"i\": 139, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 140, \"t\": 2, \"b\": 2, \"l\": 5},\n{\"i\": 141, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 142, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 143, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 144, \"t\": 2, \"b\": 2, \"l\": 35},\n{\"i\": 145, \"t\": 2, \"b\": 2, \"l\": 95},\n{\"i\": 146, \"t\": 2, \"b\": 2, \"l\": 1},\n{\"i\": 147, \"t\": 2, \"b\": 2, \"l\": 60},\n{\"i\": 148, \"t\": 2, \"b\": 2, \"l\": 3},\n{\"i\": 149, \"t\": 35, \"b\": 35, \"l\": 35},\n{\"i\": 150, \"t\": 2, \"b\": 2, \"l\": 3}\n]\n```",
          "input_tokens": 4186,
          "output_tokens": 3761,
          "cached_input_tokens": 0,
          "cache_write_tokens": 2474,
          "model_used": "claude-sonnet-4-5-20250929",
          "provider_used": "anthropic",
          "errors": []
        },
        {
          "success": true,
          "content": "```json\n[\n  {\"i\": 151, \"t\": 2, \"b\": 2, \"l\": 1},\n  {\"i\": 152, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 153, \"t\": 92, \"b\": 92, \"l\": 5},\n  {\"i\": 154, \"t\": 92, \"b\": 92, \"l\": 30},\n  {\"i\": 155, \"t\": 3, \"b\": 3, \"l\": 1},\n  {\"i\": 156, \"t\": 98, \"b\": 98, \"l\": 3},\n  {\"i\": 157, \"t\": 98, \"b\": 98, \"l\": 8},\n  {\"i\": 158, \"t\": 98, \"b\": 98, \"l\": 5},\n  {\"i\": 159, \"t\": 98, \"b\": 98, \"l\": 2},\n  {\"i\": 160, \"t\": 98, \"b\": 98, \"l\": 8},\n  {\"i\": 161, \"t\": 98, \"b\": 98, \"l\": 5},\n  {\"i\": 162, \"t\": 98, \"b\": 98, \"l\": 95},\n  {\"i\": 163, \"t\": 98, \"b\": 98, \"l\": 5},\n  {\"i\": 164, \"t\": 98, \"b\": 98, \"l\": 5},\n  {\"i\": 165, \"t\": 2, \"b\": 2, \"l\": 60},\n  {\"i\": 166, \"t\": 6, \"b\": 18, \"l\": 30},\n  {\"i\": 167, \"t\": 2, \"b\": 2, \"l\": 1},\n  {\"i\": 168, \"t\": 3, \"b\": 3, \"l\": 30},\n  {\"i\": 169, \"t\": 32, \"b\": 32, \"l\": 5},\n  {\"i\": 170, \"t\": 2, \"b\": 2, \"l\": 1},\n  {\"i\": 171, \"t\": 3, \"b\": 3, \"l\": 5},\n  {\"i\": 172, \"t\": 6, \"b\": 18, \"l\": 40},\n  {\"i\": 173, \"t\": 6, \"b\": 18, \"l\": 40},\n  {\"i\": 174, \"t\": 6, \"b\": 18, \"l\": 30},\n  {\"i\": 175, \"t\": 2, \"b\": 2, \"l\": 1},\n  {\"i\": 176, \"t\": 6, \"b\": 18, \"l\": 95},\n  {\"i\": 177, \"t\": 6, \"b\": 18, \"l\": 3},\n  {\"i\": 178, \"t\": 2, \"b\": 2, \"l\": 2},\n  {\"i\": 179, \"t\": 3, \"b\": 3, \"l\": 60},\n  {\"i\": 180, \"t\": 4, \"b\": 4, \"l\": 2},\n  {\"i\": 181, \"t\": 4, \"b\": 4, \"l\": 5},\n  {\"i\": 182, \"t\": 2, \"b\": 2, \"l\": 5},\n  {\"i\": 183, \"t\": 2, \"b\": 2, \"l\": 95},\n  {\"i\": 184, \"t\": 92, \"b\": 92, \"l\": 30},\n  {\"i\": 185, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 186, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 187, \"t\": 92, \"b\": 92, \"l\": 35},\n  {\"i\": 188, \"t\": 92, \"b\": 92, \"l\": 5},\n  {\"i\": 189, \"t\": 92, \"b\": 92, \"l\": 5},\n  {\"i\": 190, \"t\": 92, \"b\": 92, \"l\": 2},\n  {\"i\": 191, \"t\": 2, \"b\": 2, \"l\": 30},\n  {\"i\": 192, \"t\": 2, \"b\": 2, \"l\": 5},\n  {\"i\": 193, \"t\": 2, \"b\": 2, \"l\": 2},\n  {\"i\": 194, \"t\": 2, \"b\": 2, \"l\": 5},\n  {\"i\": 195, \"t\": 2, \"b\": 2, \"l\": 95},\n  {\"i\": 196, \"t\": 2, \"b\": 2, \"l\": 5},\n  {\"i\": 197, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 198, \"t\": 2, \"b\": 2, \"l\": 2},\n  {\"i\": 199, \"t\": 3, \"b\": 3, \"l\": 3},\n  {\"i\": 200, \"t\": 70, \"b\": 70, \"l\": 60},\n  {\"i\": 201, \"t\": 2, \"b\": 2, \"l\": 5},\n  {\"i\": 202, \"t\": 3, \"b\": 3, \"l\": 5},\n  {\"i\": 203, \"t\": 2, \"b\": 2, \"l\": 1},\n  {\"i\": 204, \"t\": 3, \"b\": 3, \"l\": 2},\n  {\"i\": 205, \"t\": 3, \"b\": 3, \"l\": 35},\n  {\"i\": 206, \"t\": 3, \"b\": 3, \"l\": 5},\n  {\"i\": 207, \"t\": 3, \"b\": 3, \"l\": 3},\n  {\"i\": 208, \"t\": 3, \"b\": 3, \"l\": 5},\n  {\"i\": 209, \"t\": 3, \"b\": 3, \"l\": 40},\n  {\"i\": 210, \"t\": 3, \"b\": 3, \"l\": 1},\n  {\"i\": 211, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 212, \"t\": 92, \"b\": 92, \"l\": 5},\n  {\"i\": 213, \"t\": 3, \"b\": 3, \"l\": 1},\n  {\"i\": 214, \"t\": 4, \"b\": 4, \"l\": 40},\n  {\"i\": 215, \"t\": 4, \"b\": 4, \"l\": 35},\n  {\"i\": 216, \"t\": 3, \"b\": 3, \"l\": 3},\n  {\"i\": 217, \"t\": 3, \"b\": 3, \"l\": 3},\n  {\"i\": 218, \"t\": 3, \"b\": 3, \"l\": 3},\n  {\"i\": 219, \"t\": 3, \"b\": 3, \"l\": 1},\n  {\"i\": 220, \"t\": 70, \"b\": 70, \"l\": 3},\n  {\"i\": 221, \"t\": 3, \"b\": 3, \"l\": 3},\n  {\"i\": 222, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 223, \"t\": 3, \"b\": 3, \"l\": 30},\n  {\"i\": 224, \"t\": 3, \"b\": 3, \"l\": 30},\n  {\"i\": 225, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 226, \"t\": 3, \"b\": 3, \"l\": 5},\n  {\"i\": 227, \"t\": 3, \"b\": 3, \"l\": 5},\n  {\"i\": 228, \"t\": 3, \"b\": 3, \"l\": 5},\n  {\"i\": 229, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 230, \"t\": 3, \"b\": 3, \"l\": 5},\n  {\"i\": 231, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 232, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 233, \"t\": 25, \"b\": 25, \"l\": 30},\n  {\"i\": 234, \"t\": 25, \"b\": 25, \"l\": 35},\n  {\"i\": 235, \"t\": 25, \"b\": 25, \"l\": 5},\n  {\"i\": 236, \"t\": 25, \"b\": 25, \"l\": 3},\n  {\"i\": 237, \"t\": 25, \"b\": 25, \"l\": 60},\n  {\"i\": 238, \"t\": 3, \"b\": 3, \"l\": 5},\n  {\"i\": 239, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 240, \"t\": 3, \"b\": 3, \"l\": 5},\n  {\"i\": 241, \"t\": 3, \"b\": 3, \"l\": 40},\n  {\"i\": 242, \"t\": 2, \"b\": 2, \"l\": 5},\n  {\"i\": 243, \"t\": 2, \"b\": 2, \"l\": 35},\n  {\"i\": 244, \"t\": 2, \"b\": 2, \"l\": 40},\n  {\"i\": 245, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 246, \"t\": 92, \"b\": 92, \"l\": 95},\n  {\"i\": 247, \"t\": 5, \"b\": 5, \"l\": 40},\n  {\"i\": 248, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 249, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 250, \"t\": 2, \"b\": 2, \"l\": 40},\n  {\"i\": 251, \"t\": 2, \"b\": 2, \"l\": 1},\n  {\"i\": 252, \"t\": 3, \"b\": 3, \"l\": 40},\n  {\"i\": 253, \"t\": 3, \"b\": 3, \"l\": 1},\n  {\"i\": 254, \"t\": 2, \"b\": 2, \"l\": 95},\n  {\"i\": 255, \"t\": 2, \"b\": 2, \"l\": 95},\n  {\"i\": 256, \"t\": 5, \"b\": 5, \"l\": 95},\n  {\"i\": 257, \"t\": 5, \"b\": 5, \"l\": 2},\n  {\"i\": 258, \"t\": 5, \"b\": 5, \"l\": 5},\n  {\"i\": 259, \"t\": 5, \"b\": 5, \"l\": 95},\n  {\"i\": 260, \"t\": 5, \"b\": 5, \"l\": 8},\n  {\"i\": 261, \"t\": 5, \"b\": 5, \"l\": 5},\n  {\"i\": 262, \"t\": 5, \"b\": 5, \"l\": 8},\n  {\"i\": 263, \"t\": 4, \"b\": 4, \"l\": 95},\n  {\"i\": 264, \"t\": 4, \"b\": 4, \"l\": 40},\n  {\"i\": 265, \"t\": 4, \"b\": 4, \"l\": 30},\n  {\"i\": 266, \"t\": 4, \"b\": 4, \"l\": 5},\n  {\"i\": 267, \"t\": 4, \"b\": 4, \"l\": 95},\n  {\"i\": 268, \"t\": 4, \"b\": 4, \"l\": 95},\n  {\"i\": 269, \"t\": 4, \"b\": 4, \"l\": 5},\n  {\"i\": 270, \"t\": 4, \"b\": 4, \"l\": 5},\n  {\"i\": 271, \"t\": 4, \"b\": 4, \"l\": 8},\n  {\"i\": 272, \"t\": 4, \"b\": 4, \"l\": 95},\n  {\"i\": 273, \"t\": 4, \"b\": 4, \"l\": 95},\n  {\"i\": 274, \"t\": 4, \"b\": 4, \"l\": 95},\n  {\"i\": 275, \"t\": 4, \"b\": 4, \"l\": 1},\n  {\"i\": 276, \"t\": 4, \"b\": 4, \"l\": 8},\n  {\"i\": 277, \"t\": 4, \"b\": 4, \"l\": 40},\n  {\"i\": 278, \"t\": 4, \"b\": 4, \"l\": 40},\n  {\"i\": 279, \"t\": 4, \"b\": 4, \"l\": 5},\n  {\"i\": 280, \"t\": 4, \"b\": 4, \"l\": 40},\n  {\"i\": 281, \"t\": 4, \"b\": 4, \"l\": 95},\n  {\"i\": 282, \"t\": 4, \"b\": 4, \"l\": 95},\n  {\"i\": 283, \"t\": 4, \"b\": 4, \"l\": 95},\n  {\"i\": 284, \"t\": 4, \"b\": 4, \"l\": 95},\n  {\"i\": 285, \"t\": 4, \"b\": 4, \"l\": 95},\n  {\"i\": 286, \"t\": 3, \"b\": 3, \"l\": 30},\n  {\"i\": 287, \"t\": 3, \"b\": 3, \"l\": 1},\n  {\"i\": 288, \"t\": 3, \"b\": 3, \"l\": 1},\n  {\"i\": 289, \"t\": 3, \"b\": 3, \"l\": 2},\n  {\"i\": 290, \"t\": 3, \"b\": 3, \"l\": 2},\n  {\"i\": 291, \"t\": 3, \"b\": 3, \"l\": 30},\n  {\"i\": 292, \"t\": 3, \"b\": 3, \"l\": 3},\n  {\"i\": 293, \"t\": 3, \"b\": 3, \"l\": 5},\n  {\"i\": 294, \"t\": 3, \"b\": 3, \"l\": 3},\n  {\"i\": 295, \"t\": 3, \"b\": 3, \"l\": 5},\n  {\"i\": 296, \"t\": 3, \"b\": 3, \"l\": 60},\n  {\"i\": 297, \"t\": 3, \"b\": 3, \"l\": 30},\n  {\"i\": 298, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 299, \"t\": 3, \"b\": 3, \"l\": 95},\n  {\"i\": 300, \"t\": 3, \"b\": 3, \"l\": 40}\n]\n```",
          "input_tokens": 4238,
          "output_tokens": 3911,
          "cached_input_tokens": 2474,
          "cache_write_tokens": 0,
          "model_used": "claude-sonnet-4-5-20250929",
          "provider_used": "anthropic",
          "errors": []
        },
        {
          "success": true,
          "content": "```json\n[\n  {\"i\": 301, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 302, \"t\": 2, \"b\": 2, \"l\": 4},\n  {\"i\": 303, \"t\": 2, \"b\": 2, \"l\": 4},\n  {\"i\": 304, \"t\": 2, \"b\": 2, \"l\": 50},\n  {\"i\": 305, \"t\": 2, \"b\": 2, \"l\": 45},\n  {\"i\": 306, \"t\": 2, \"b\": 2, \"l\": 95},\n  {\"i\": 307, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 308, \"t\": 2, \"b\": 2, \"l\": 95},\n  {\"i\": 309, \"t\": 2, \"b\": 2, \"l\": 2},\n  {\"i\": 310, \"t\": 2, \"b\": 2, \"l\": 2},\n  {\"i\": 311, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 312, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 313, \"t\": 2, \"b\": 2, \"l\": 2},\n  {\"i\": 314, \"t\": 2, \"b\": 2, \"l\": 55},\n  {\"i\": 315, \"t\": 2, \"b\": 2, \"l\": 30},\n  {\"i\": 316, \"t\": 2, \"b\": 2, \"l\": 50},\n  {\"i\": 317, \"t\": 2, \"b\": 2, \"l\": 55},\n  {\"i\": 318, \"t\": 2, \"b\": 2, \"l\": 50},\n  {\"i\": 319, \"t\": 2, \"b\": 2, \"l\": 95},\n  {\"i\": 320, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 321, \"t\": 2, \"b\": 2, \"l\": 25},\n  {\"i\": 322, \"t\": 2, \"b\": 2, \"l\": 2},\n  {\"i\": 323, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 324, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 325, \"t\": 2, \"b\": 2, \"l\": 2},\n  {\"i\": 326, \"t\": 2, \"b\": 2, \"l\": 2},\n  {\"i\": 327, \"t\": 2, \"b\": 2, \"l\": 30},\n  {\"i\": 328, \"t\": 2, \"b\": 2, \"l\": 4},\n  {\"i\": 329, \"t\": 2, \"b\": 2, \"l\": 45},\n  {\"i\": 330, \"t\": 2, \"b\": 2, \"l\": 45},\n  {\"i\": 331, \"t\": 2, \"b\": 2, \"l\": 45},\n  {\"i\": 332, \"t\": 2, \"b\": 2, \"l\": 35},\n  {\"i\": 333, \"t\": 92, \"b\": 95, \"l\": 30},\n  {\"i\": 334, \"t\": 5, \"b\": 6, \"l\": 35},\n  {\"i\": 335, \"t\": 5, \"b\": 6, \"l\": 95},\n  {\"i\": 336, \"t\": 92, \"b\": 95, \"l\": 95},\n  {\"i\": 337, \"t\": 92, \"b\": 95, \"l\": 40},\n  {\"i\": 338, \"t\": 92, \"b\": 95, \"l\": 3},\n  {\"i\": 339, \"t\": 92, \"b\": 95, \"l\": 3},\n  {\"i\": 340, \"t\": 2, \"b\": 2, \"l\": 35},\n  {\"i\": 341, \"t\": 32, \"b\": 60, \"l\": 2},\n  {\"i\": 342, \"t\": 32, \"b\": 60, \"l\": 28},\n  {\"i\": 343, \"t\": 2, \"b\": 2, \"l\": 35},\n  {\"i\": 344, \"t\": 2, \"b\": 2, \"l\": 4},\n  {\"i\": 345, \"t\": 2, \"b\": 2, \"l\": 35},\n  {\"i\": 346, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 347, \"t\": 98, \"b\": 95, \"l\": 30},\n  {\"i\": 348, \"t\": 98, \"b\": 95, \"l\": 28},\n  {\"i\": 349, \"t\": 95, \"b\": 95, \"l\": 28},\n  {\"i\": 350, \"t\": 95, \"b\": 95, \"l\": 38},\n  {\"i\": 351, \"t\": 95, \"b\": 95, \"l\": 1},\n  {\"i\": 352, \"t\": 95, \"b\": 95, \"l\": 1},\n  {\"i\": 353, \"t\": 95, \"b\": 95, \"l\": 60},\n  {\"i\": 354, \"t\": 55, \"b\": 18, \"l\": 2},\n  {\"i\": 355, \"t\": 55, \"b\": 18, \"l\": 3},\n  {\"i\": 356, \"t\": 95, \"b\": 95, \"l\": 1},\n  {\"i\": 357, \"t\": 95, \"b\": 95, \"l\": 4},\n  {\"i\": 358, \"t\": 95, \"b\": 95, \"l\": 2},\n  {\"i\": 359, \"t\": 95, \"b\": 95, \"l\": 3},\n  {\"i\": 360, \"t\": 95, \"b\": 95, \"l\": 1},\n  {\"i\": 361, \"t\": 95, \"b\": 95, \"l\": 28},\n  {\"i\": 362, \"t\": 95, \"b\": 95, \"l\": 95},\n  {\"i\": 363, \"t\": 95, \"b\": 95, \"l\": 35},\n  {\"i\": 364, \"t\": 35, \"b\": 38, \"l\": 30},\n  {\"i\": 365, \"t\": 35, \"b\": 38, \"l\": 3},\n  {\"i\": 366, \"t\": 35, \"b\": 38, \"l\": 3},\n  {\"i\": 367, \"t\": 35, \"b\": 38, \"l\": 95},\n  {\"i\": 368, \"t\": 35, \"b\": 38, \"l\": 4},\n  {\"i\": 369, \"t\": 35, \"b\": 38, \"l\": 4},\n  {\"i\": 370, \"t\": 35, \"b\": 38, \"l\": 2},\n  {\"i\": 371, \"t\": 35, \"b\": 38, \"l\": 4},\n  {\"i\": 372, \"t\": 35, \"b\": 38, \"l\": 3},\n  {\"i\": 373, \"t\": 35, \"b\": 38, \"l\": 45},\n  {\"i\": 374, \"t\": 35, \"b\": 38, \"l\": 2},\n  {\"i\": 375, \"t\": 35, \"b\": 38, \"l\": 3},\n  {\"i\": 376, \"t\": 35, \"b\": 38, \"l\": 60},\n  {\"i\": 377, \"t\": 35, \"b\": 38, \"l\": 3},\n  {\"i\": 378, \"t\": 35, \"b\": 38, \"l\": 30},\n  {\"i\": 379, \"t\": 35, \"b\": 38, \"l\": 95},\n  {\"i\": 380, \"t\": 35, \"b\": 38, \"l\": 45},\n  {\"i\": 381, \"t\": 35, \"b\": 38, \"l\": 35},\n  {\"i\": 382, \"t\": 2, \"b\": 2, \"l\": 1},\n  {\"i\": 383, \"t\": 4, \"b\": 5, \"l\": 60},\n  {\"i\": 384, \"t\": 5, \"b\": 6, \"l\": 60},\n  {\"i\": 385, \"t\": 5, \"b\": 6, \"l\": 60},\n  {\"i\": 386, \"t\": 32, \"b\": 60, \"l\": 35},\n  {\"i\": 387, \"t\": 32, \"b\": 60, \"l\": 35},\n  {\"i\": 388, \"t\": 32, \"b\": 60, \"l\": 1},\n  {\"i\": 389, \"t\": 32, \"b\": 60, \"l\": 1},\n  {\"i\": 390, \"t\": 92, \"b\": 95, \"l\": 95},\n  {\"i\": 391, \"t\": 4, \"b\": 5, \"l\": 95},\n  {\"i\": 392, \"t\": 4, \"b\": 5, \"l\": 95},\n  {\"i\": 393, \"t\": 4, \"b\": 5, \"l\": 95},\n  {\"i\": 394, \"t\": 4, \"b\": 5, \"l\": 95},\n  {\"i\": 395, \"t\": 4, \"b\": 5, \"l\": 1},\n  {\"i\": 396, \"t\": 4, \"b\": 5, \"l\": 3},\n  {\"i\": 397, \"t\": 4, \"b\": 5, \"l\": 30},\n  {\"i\": 398, \"t\": 32, \"b\": 60, \"l\": 28},\n  {\"i\": 399, \"t\": 32, \"b\": 60, \"l\": 5},\n  {\"i\": 400, \"t\": 32, \"b\": 60, \"l\": 40},\n  {\"i\": 401, \"t\": 2, \"b\": 2, \"l\": 30},\n  {\"i\": 402, \"t\": 2, \"b\": 2, \"l\": 1},\n  {\"i\": 403, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 404, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 405, \"t\": 25, \"b\": 28, \"l\": 3},\n  {\"i\": 406, \"t\": 25, \"b\": 28, \"l\": 3},\n  {\"i\": 407, \"t\": 25, \"b\": 28, \"l\": 4},\n  {\"i\": 408, \"t\": 25, \"b\": 28, \"l\": 3},\n  {\"i\": 409, \"t\": 2, \"b\": 2, \"l\": 30},\n  {\"i\": 410, \"t\": 25, \"b\": 28, \"l\": 55},\n  {\"i\": 411, \"t\": 25, \"b\": 28, \"l\": 55},\n  {\"i\": 412, \"t\": 25, \"b\": 28, \"l\": 4},\n  {\"i\": 413, \"t\": 25, \"b\": 28, \"l\": 2},\n  {\"i\": 414, \"t\": 25, \"b\": 28, \"l\": 95},\n  {\"i\": 415, \"t\": 25, \"b\": 28, \"l\": 95},\n  {\"i\": 416, \"t\": 25, \"b\": 28, \"l\": 95},\n  {\"i\": 417, \"t\": 25, \"b\": 28, \"l\": 1},\n  {\"i\": 418, \"t\": 25, \"b\": 28, \"l\": 95},\n  {\"i\": 419, \"t\": 35, \"b\": 38, \"l\": 95},\n  {\"i\": 420, \"t\": 2, \"b\": 2, \"l\": 45},\n  {\"i\": 421, \"t\": 2, \"b\": 2, \"l\": 3},\n  {\"i\": 422, \"t\": 2, \"b\": 2, \"l\": 1},\n  {\"i\": 423, \"t\": 5, \"b\": 6, \"l\": 30},\n  {\"i\": 424, \"t\": 2, \"b\": 2, \"l\": 1},\n  {\"i\": 425, \"t\": 2, \"b\": 2, \"l\": 2},\n  {\"i\": 426, \"t\": 2, \"b\": 2, \"l\": 2},\n  {\"i\": 427, \"t\": 2, \"b\": 2, \"l\": 55},\n  {\"i\": 428, \"t\": 2, \"b\": 2, \"l\": 55},\n  {\"i\": 429, \"t\": 2, \"b\": 2, \"l\": 35},\n  {\"i\": 430, \"t\": 2, \"b\": 2, \"l\": 95},\n  {\"i\": 431, \"t\": 1, \"b\": 1, \"l\": 28},\n  {\"i\": 432, \"t\": 1, \"b\": 1, \"l\": 28},\n  {\"i\": 433, \"t\": 1, \"b\": 1, \"l\": 25},\n  {\"i\": 434, \"t\": 1, \"b\": 1, \"l\": 40},\n  {\"i\": 435, \"t\": 1, \"b\": 1, \"l\": 40},\n  {\"i\": 436, \"t\": 1, \"b\": 1, \"l\": 40},\n  {\"i\": 437, \"t\": 1, \"b\": 1, \"l\": 28},\n  {\"i\": 438, \"t\": 1, \"b\": 1, \"l\": 28},\n  {\"i\": 439, \"t\": 1, \"b\": 1, \"l\": 40},\n  {\"i\": 440, \"t\": 1, \"b\": 1, \"l\": 40},\n  {\"i\": 441, \"t\": 1, \"b\": 1, \"l\": 40},\n  {\"i\": 442, \"t\": 1, \"b\": 1, \"l\": 30},\n  {\"i\": 443, \"t\": 1, \"b\": 1, \"l\": 30},\n  {\"i\": 444, \"t\": 1, \"b\": 1, \"l\": 30},\n  {\"i\": 445, \"t\": 1, \"b\": 1, \"l\": 30},\n  {\"i\": 446, \"t\": 1, \"b\": 1, \"l\": 30},\n  {\"i\": 447, \"t\": 1, \"b\": 1, \"l\": 30},\n  {\"i\": 448, \"t\": 95, \"b\": 95, \"l\": 95}\n]\n```",
          "input_tokens": 4356,
          "output_tokens": 3859,
          "cached_input_tokens": 2474,
          "cache_write_tokens": 0,
          "model_used": "claude-sonnet-4-5-20250929",
          "provider_used": "anthropic",
          "errors": []
        }
      ]
    },
    "global": {
      "rankerBatches": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "b3d202d1-6a64-4547-a7eb-f65b26ffb44b",
  "activeVersionId": "b3d202d1-6a64-4547-a7eb-f65b26ffb44b",
  "versionCounter": 232,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-28T23:08:13.062Z",
      "createdAt": "2026-05-28T23:08:13.062Z",
      "role": "workflow:owner",
      "workflowId": "HbN1BQDIqQcaWFxb",
      "projectId": "kZS932EjZfpXmb7H",
      "project": {
        "updatedAt": "2026-05-06T02:54:00.051Z",
        "createdAt": "2026-05-06T02:52:14.918Z",
        "id": "kZS932EjZfpXmb7H",
        "name": "Maestro AI",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e4ae7d04-ed18-4bb8-a6ad-b4b4dcae93ec"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version b3d202d1",
    "description": ""
  }
}