workflows/agents/Agent_11_-_Cover_Letter_Refiner.json
{
  "updatedAt": "2026-06-06T23:28:56.344Z",
  "createdAt": "2026-06-06T01:59:28.490Z",
  "id": "Qm347WT4gdVog8py",
  "name": "Agent 11 - Cover Letter Refiner",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        -464
      ],
      "id": "5fc209cf-7ae8-45e6-ac86-f77f17ed90ed",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Agent 11: format output — plain markdown cover letter (not JSON).\n// Mode: Run Once for All Items\n// Propagates structured error from Call LLM on failure.\n// Falls back to the original cover letter markdown when refinement fails or is\n// unusable, so downstream still has a valid letter to work with.\n\nconst callLLM = $('Call LLM').first().json;\nconst originalMarkdown = $('Set Inputs').first().json.cover_letter_markdown || '';\n\n// Call LLM failed — propagate error, fall back to original\nif (callLLM.success === false) {\n  console.log(`[Agent 11] LLM call failed: ${callLLM.error?.category || 'unknown'} — ${callLLM.error?.message || 'no message'}`);\n  console.log(`[Agent 11] Falling back to original cover letter markdown (${originalMarkdown.length} chars)`);\n  return {\n    json: {\n      success: false,\n      cover_letter_markdown: originalMarkdown,\n      refined: false,\n      tokens: { input: callLLM.input_tokens || 0, output: callLLM.output_tokens || 0 },\n      cached_input_tokens: callLLM.cached_input_tokens || 0,\n      cache_write_tokens: callLLM.cache_write_tokens || 0,\n      model_used: callLLM.model_used || 'unknown',\n      provider_used: callLLM.provider_used || 'unknown',\n      errors: [...(callLLM.errors || [])],\n      error: callLLM.error || {\n        category: 'unknown',\n        type: 'unknown',\n        message: 'Call LLM returned success: false with no error object',\n        provider: callLLM.provider_used || 'unknown',\n        model: callLLM.model_used || 'unknown'\n      }\n    }\n  };\n}\n\n// Normal path: parse refined markdown from content\nconst response = $input.item.json;\nconst text = response.text || response.content || response.response || response.output_text || response.completion || '';\n\nconst parseErrors = [];\nlet refinedMarkdown = '';\n\nif (!text) {\n  parseErrors.push(`No text returned from Call LLM. Keys: ${Object.keys(response).join(', ')}`);\n  console.log(`[Agent 11] ${parseErrors[parseErrors.length - 1]}`);\n} else {\n  refinedMarkdown = String(text).trim();\n  // Strip markdown code fences if the LLM wrapped the output (defensive)\n  refinedMarkdown = refinedMarkdown\n    .replace(/^```(?:markdown|md)?\\s*/i, '')\n    .replace(/\\s*```\\s*$/i, '')\n    .trim();\n}\n\n// Quality checks: too short OR identical to input\nconst tooShort = refinedMarkdown.length <= 80;\nconst identicalToOriginal = refinedMarkdown.length > 0 && refinedMarkdown === originalMarkdown;\nconst refined = !tooShort && !identicalToOriginal;\n\nlet error = null;\nif (parseErrors.length > 0) {\n  error = {\n    category: 'output_quality',\n    type: 'empty_output',\n    message: parseErrors.join('; '),\n    provider: callLLM.provider_used || 'unknown',\n    model: callLLM.model_used || 'unknown'\n  };\n} else if (tooShort) {\n  parseErrors.push(`Refined output too short (${refinedMarkdown.length} chars)`);\n  error = {\n    category: 'output_quality',\n    type: 'short_output',\n    message: parseErrors[parseErrors.length - 1],\n    provider: callLLM.provider_used || 'unknown',\n    model: callLLM.model_used || 'unknown'\n  };\n} else if (identicalToOriginal) {\n  parseErrors.push('Refined output identical to original');\n  error = {\n    category: 'output_quality',\n    type: 'no_change',\n    message: parseErrors[parseErrors.length - 1],\n    provider: callLLM.provider_used || 'unknown',\n    model: callLLM.model_used || 'unknown'\n  };\n}\n\nconst success = refined;\n\nconsole.log(`[Agent 11] Refined: ${refined}, length: ${refinedMarkdown.length} chars`);\nconsole.log(`[Agent 11] Tokens: ${callLLM.input_tokens || 0}in + ${callLLM.output_tokens || 0}out + ${callLLM.cached_input_tokens || 0}cached + ${callLLM.cache_write_tokens || 0}cache_write`);\n\nreturn {\n  json: {\n    success,\n    cover_letter_markdown: refined ? refinedMarkdown : originalMarkdown,\n    refined,\n    tokens: { input: callLLM.input_tokens || 0, output: callLLM.output_tokens || 0 },\n    cached_input_tokens: callLLM.cached_input_tokens || 0,\n    cache_write_tokens: callLLM.cache_write_tokens || 0,\n    model_used: callLLM.model_used || 'unknown',\n    provider_used: callLLM.provider_used || 'unknown',\n    errors: parseErrors,\n    error\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -448
      ],
      "id": "76c675e6-52db-4a70-9726-42ba8399c3ff",
      "name": "Format output"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Set Inputs — Agent 11: Cover Letter Fine Refiner (user-instruction driven)\n// Mirrors Agent 9 (Resume Fine Refiner) for cover letters.\n// Model/provider/max_tokens are config-only (config.*_cover_letter_refiner) — single source of truth.\n// Trigger field for the instruction is `user_command` (the caller's contract).\nconst trigger = $input.item.json;\n\nfunction strip(val) {\n  if (val === null || val === undefined) return '';\n  if (typeof val !== 'string') return val;\n  let cleaned = val;\n  while (cleaned.length > 0 && cleaned.charAt(0) === '=') cleaned = cleaned.substring(1);\n  return cleaned;\n}\n\nconst config = trigger.config || {};\nconst systemPrompt = strip(trigger.system_prompt);\nconst descriptionHtml = strip(trigger.description_html);\nconst coverLetterMarkdown = strip(trigger.cover_letter_markdown);\nconst masterDoc = strip(trigger.master_doc);\nconst userCommand = strip(trigger.user_command || trigger.refinement_instructions);\n\n// Optional prior verifier (from the previous version). May arrive as Object or JSON-string.\nlet verifier = trigger.verifier;\nif (typeof verifier === 'string') {\n  let raw = verifier;\n  while (raw.length > 0 && raw.charAt(0) === '=') raw = raw.substring(1);\n  try { verifier = JSON.parse(raw); }\n  catch (e) { console.log('[Agent 11 Set Inputs] verifier not parseable JSON, defaulting to empty'); verifier = {}; }\n}\nverifier = verifier || {};\nif (verifier.result && typeof verifier.result === 'object') verifier = verifier.result;\n\n// Provider / model / max_tokens are config-only (config.*_cover_letter_refiner). Throw loud if missing.\nconst provider = strip(config.provider_cover_letter_refiner);\nif (!provider) {\n  throw new Error('[Agent 11] config.provider_cover_letter_refiner is required. Set it in your config sheet (anthropic | openai | gemini).');\n}\nconst model = strip(config.model_cover_letter_refiner);\nif (!model) {\n  throw new Error('[Agent 11] config.model_cover_letter_refiner is required. Set it in your config sheet.');\n}\nconst maxTokens = Number(config.max_tokens_cover_letter_refiner);\nif (!maxTokens || Number.isNaN(maxTokens)) {\n  throw new Error('[Agent 11] config.max_tokens_cover_letter_refiner is required and must be a number.');\n}\n\nif (!userCommand) {\n  throw new Error('[Agent 11] user_command (refinement instructions) is required for cover-letter refine mode.');\n}\n\nconsole.log(`[Agent 11 Set Inputs] cover_letter: ${coverLetterMarkdown.length} chars, master_doc: ${masterDoc.length} chars, instructions: ${userCommand.length} chars, prior verifier issues: ${(verifier.issues || []).length}, provider: ${provider}, model: ${model}`);\n\nreturn {\n  json: {\n    config,\n    system_prompt: systemPrompt,\n    description_html: descriptionHtml,\n    cover_letter_markdown: coverLetterMarkdown,\n    master_doc: masterDoc,\n    refinement_instructions: userCommand,\n    verifier,\n    provider,\n    model,\n    max_tokens: maxTokens\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -448
      ],
      "id": "cb4b3461-8e9c-42f7-83d7-1614f8358434",
      "name": "Set Inputs"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mxnzrmY5JgwI2DNY",
          "mode": "list",
          "cachedResultUrl": "/workflow/mxnzrmY5JgwI2DNY",
          "cachedResultName": "Call LLM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "provider": "=={{ $json.provider }}",
            "model": "=={{ $json.model }}",
            "system": "=={{ $json.system }}",
            "user_message": "=={{ $json.user_message }}",
            "max_tokens": "=={{ Number($json.max_tokens) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "provider",
              "displayName": "provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system",
              "displayName": "system",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "max_tokens",
              "displayName": "max_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -48,
        -448
      ],
      "id": "c646c3ee-4fc9-4733-9ecb-5d10cf63534f",
      "name": "Call LLM",
      "retryOnFail": false,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build Prompt — Agent 11: Cover Letter Fine Refiner (user-instruction driven)\n// Mirrors Agent 9's structure for cover letters: user instructions are the primary\n// driver; prior verifier findings are an optional secondary input folded in when present.\nconst input = $input.item.json;\nconst systemPrompt = input.system_prompt || '';\nconst masterDoc = input.master_doc || '';\nconst coverLetterMarkdown = input.cover_letter_markdown || '';\nconst verifier = input.verifier || {};\nconst descriptionHtml = input.description_html || '';\nconst instructions = input.refinement_instructions || '';\n\nif (!systemPrompt || systemPrompt.length < 200) {\n  throw new Error(`[Agent 11] system_prompt missing or too short (${systemPrompt.length} chars). Check Prompt Loader / prompts tab (agent_11) and caller mapping.`);\n}\nif (!coverLetterMarkdown || coverLetterMarkdown.length < 80) {\n  throw new Error(`[Agent 11] cover_letter_markdown missing or too short (${coverLetterMarkdown.length} chars). Check parent cover letter in the request.`);\n}\nif (!masterDoc || masterDoc.length < 200) {\n  throw new Error(`[Agent 11] master_doc missing or too short (${masterDoc.length} chars). Check Data Loader output.`);\n}\nif (!instructions) {\n  throw new Error('[Agent 11] refinement_instructions missing — required for refine mode.');\n}\n\nconst OUTPUT_CONTRACT = `## OUTPUT CONTRACT\n- Output ONLY the refined cover letter markdown.\n- Do NOT wrap in JSON or any envelope.\n- Do NOT prepend or append commentary, preamble, or summary.\n- Start directly with the cover letter's first line.\n- Preserve the letter's existing structure (opening, body paragraphs, closing) unless the instructions explicitly ask to restructure.\n- Output must be 100% faithful to the master doc — no invented facts, no embellishments.\n- Keep the letter relevant and addressed to the target job throughout.\n- Apply the candidate's revision instructions as the primary driver.\n- Keep it the natural length of a cover letter — do not pad.`;\n\n// Prior verifier is optional — include the block only if it carries findings.\nconst hasVerifier = verifier && Array.isArray(verifier.issues) && verifier.issues.length > 0;\nconst verifierBlock = hasVerifier\n  ? `\\n\\n# PRIOR VERIFIER FINDINGS (from the previous version — correct any that still apply, non-negotiable)\\n${JSON.stringify(verifier, null, 2)}`\n  : '';\n\nconst userMessage = `# JOB DESCRIPTION\n${descriptionHtml}\n\n# CANDIDATE MASTER DOCUMENT\n${masterDoc}\n\n# CURRENT COVER LETTER (to be revised)\n${coverLetterMarkdown}\n\n# REVISION INSTRUCTIONS (from the candidate — the primary driver of this revision)\n${instructions}${verifierBlock}\n\n${OUTPUT_CONTRACT}`;\n\nconsole.log(`[Agent 11 Build Prompt] system_prompt: ${systemPrompt.length} chars, user_message: ${userMessage.length} chars, instructions: ${instructions.length} chars, prior verifier: ${hasVerifier ? verifier.issues.length + ' issues' : 'none'}`);\n\nreturn {\n  json: {\n    system_prompt: systemPrompt,\n    user_message: userMessage,\n    provider: input.provider,\n    model: input.model,\n    max_tokens: input.max_tokens || 8192\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -448
      ],
      "id": "82518482-6096-4e58-a534-2443bb16b2ed",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "description_html"
            },
            {
              "name": "cover_letter_markdown"
            },
            {
              "name": "master_doc"
            },
            {
              "name": "config",
              "type": "object"
            },
            {
              "name": "system_prompt"
            },
            {
              "name": "verifier",
              "type": "object"
            },
            {
              "name": "user_command"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -832,
        -624
      ],
      "id": "532f432f-6cf5-446a-9a3c-00784489e25d",
      "name": "Trigger"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Format output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "312f7f5e-297a-483a-a9fa-260acdf3cf64",
  "activeVersionId": "312f7f5e-297a-483a-a9fa-260acdf3cf64",
  "versionCounter": 21,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-06T01:59:28.492Z",
      "createdAt": "2026-06-06T01:59:28.492Z",
      "role": "workflow:owner",
      "workflowId": "Qm347WT4gdVog8py",
      "projectId": "kZS932EjZfpXmb7H",
      "project": {
        "updatedAt": "2026-05-06T02:54:00.051Z",
        "createdAt": "2026-05-06T02:52:14.918Z",
        "id": "kZS932EjZfpXmb7H",
        "name": "Maestro AI",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e4ae7d04-ed18-4bb8-a6ad-b4b4dcae93ec"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 312f7f5e",
    "description": ""
  }
}