workflows/agents/Agent_4-_Cover_Letter_Verifier.json
{
  "updatedAt": "2026-06-07T03:34:00.442Z",
  "createdAt": "2026-05-09T04:06:21.768Z",
  "id": "HIloJhcza78DPp26",
  "name": "Agent 4- Cover Letter Verifier",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        -384
      ],
      "id": "88f84e5b-c535-4eb9-9b31-111e21347966",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Set Inputs — Agent 4: Cover Letter Verifier\nconst trigger = $input.item.json;\n\nfunction strip(val) {\n  if (val === null || val === undefined) return '';\n  if (typeof val !== 'string') return val;\n  let cleaned = val;\n  while (cleaned.length > 0 && cleaned.charAt(0) === '=') {\n    cleaned = cleaned.substring(1);\n  }\n  return cleaned;\n}\n\nconst config = trigger.config || {};\nconst systemPrompt = strip(trigger.system_prompt);\nconst company = strip(trigger.company);\nconst title = strip(trigger.title);\nconst descriptionHtml = strip(trigger.description_html);\nconst coverLetterMarkdown = strip(trigger.cover_letter_markdown);\nconst masterDoc = strip(trigger.master_doc);\n\nconst provider = strip(config.provider_cover_letter_verifier);\nif (!provider) {\n  throw new Error('[Agent 4] config.provider_cover_letter_verifier is required. Set it in your config sheet (anthropic | openai | gemini).');\n}\n\nconst model = strip(config.model_cover_letter_verifier);\nif (!model) {\n  throw new Error('[Agent 4] config.model_cover_letter_verifier is required. Set it in your config sheet.');\n}\n\nconst maxTokens = Number(config.max_tokens_cover_letter_verifier);\nif (!maxTokens || Number.isNaN(maxTokens)) {\n  throw new Error('[Agent 4] config.max_tokens_cover_letter_verifier is required and must be a number.');\n}\n\nconsole.log(`[Agent 4 Set Inputs] cover_letter_markdown: ${coverLetterMarkdown.length} chars, master_doc: ${masterDoc.length} chars, provider: ${provider}, model: ${model}`);\n\nreturn {\n  json: {\n    config,\n    system_prompt: systemPrompt,\n    company,\n    title,\n    description_html: descriptionHtml,\n    cover_letter_markdown: coverLetterMarkdown,\n    master_doc: masterDoc,\n    provider,\n    model,\n    max_tokens: maxTokens\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -368
      ],
      "id": "0a955ecd-6ac0-41f5-be13-637a48cb0923",
      "name": "Set Inputs"
    },
    {
      "parameters": {
        "jsCode": "// Agent 4: format output as standard envelope\n// Mode: Run Once for All Items\n// Robust JSON extraction handles trailing text, code fences, narrative wrapping\n// Propagates structured error from Call LLM on failure.\n\nconst llmResponse = $input.first().json;\n\n// Call LLM failed — propagate error without parse attempts on empty content\nif (llmResponse.success === false) {\n  console.log(`[Agent 4] LLM call failed: ${llmResponse.error?.category || 'unknown'} — ${llmResponse.error?.message || 'no message'}`);\n  return [{\n    json: {\n      success: false,\n      result: {},\n      tokens: {\n        input: llmResponse.input_tokens || 0,\n        output: llmResponse.output_tokens || 0\n      },\n      cached_input_tokens: llmResponse.cached_input_tokens || 0,\n      cache_write_tokens: llmResponse.cache_write_tokens || 0,\n      model_used: llmResponse.model_used || 'unknown',\n      provider_used: llmResponse.provider_used || 'unknown',\n      errors: [...(llmResponse.errors || [])],\n      error: llmResponse.error || {\n        category: 'unknown',\n        type: 'unknown',\n        message: 'Call LLM returned success: false with no error object',\n        provider: llmResponse.provider_used || 'unknown',\n        model: llmResponse.model_used || 'unknown'\n      }\n    }\n  }];\n}\n\n// Normal path: parse JSON from content\nconst rawContent = (llmResponse.content || '').trim();\n\n// Robust JSON extractor — finds first { and walks to matching }\n// Respects string literals and escapes\nconst extractJSON = (text) => {\n  let cleaned = text\n    .replace(/^```(?:json)?\\s*\\n?/i, '')\n    .replace(/\\n?```\\s*$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    // Fall through to extraction\n  }\n\n  const firstBrace = cleaned.indexOf('{');\n  if (firstBrace === -1) return null;\n\n  let depth = 0;\n  let inString = false;\n  let escape = false;\n  let lastBrace = -1;\n\n  for (let i = firstBrace; i < cleaned.length; i++) {\n    const c = cleaned[i];\n    if (escape) { escape = false; continue; }\n    if (c === '\\\\') { escape = true; continue; }\n    if (c === '\"') { inString = !inString; continue; }\n    if (inString) continue;\n    if (c === '{') depth++;\n    if (c === '}') {\n      depth--;\n      if (depth === 0) {\n        lastBrace = i;\n        break;\n      }\n    }\n  }\n\n  if (lastBrace === -1) return null;\n\n  const jsonStr = cleaned.slice(firstBrace, lastBrace + 1);\n  try {\n    return JSON.parse(jsonStr);\n  } catch (e) {\n    return null;\n  }\n};\n\nlet verdict = null;\nconst parseErrors = [];\n\ntry {\n  verdict = extractJSON(rawContent);\n  if (!verdict) {\n    parseErrors.push(`Could not extract valid JSON from LLM response`);\n    console.log(`[Agent 4] Raw content (first 500 chars):\\n${rawContent.slice(0, 500)}`);\n  }\n} catch (err) {\n  const errMsg = err instanceof Error ? err.message : String(err);\n  parseErrors.push(`Failed to extract JSON: ${errMsg}`);\n  console.log(`[Agent 4] JSON parse failed. Raw content:\\n${rawContent.slice(0, 500)}`);\n}\n\nconst success = verdict !== null;\nconst errors = [...(llmResponse.errors || []), ...parseErrors];\nconst error = success ? null : {\n  category: 'output_quality',\n  type: 'json_parse_failure',\n  message: parseErrors.join('; ') || 'Could not extract valid JSON from LLM response',\n  provider: llmResponse.provider_used || 'unknown',\n  model: llmResponse.model_used || 'unknown'\n};\n\nconsole.log(`[Agent 4] Verdict: ${verdict?.verdict || 'parse failed'}`);\nconsole.log(`[Agent 4] Claims: ${verdict?.supported_count || 0}/${verdict?.claim_count || 0} supported`);\nconsole.log(`[Agent 4] Tokens: ${llmResponse.input_tokens || 0}in + ${llmResponse.output_tokens || 0}out + ${llmResponse.cached_input_tokens || 0}cached + ${llmResponse.cache_write_tokens || 0}cache_write`);\n\nreturn [{\n  json: {\n    success,\n    result: verdict || {},\n    tokens: {\n      input: llmResponse.input_tokens || 0,\n      output: llmResponse.output_tokens || 0\n    },\n    cached_input_tokens: llmResponse.cached_input_tokens || 0,\n    cache_write_tokens: llmResponse.cache_write_tokens || 0,\n    model_used: llmResponse.model_used || 'unknown',\n    provider_used: llmResponse.provider_used || 'unknown',\n    errors,\n    error\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -368
      ],
      "id": "bca2b9fa-a9ea-4cc3-ad29-d40621260103",
      "name": "Format Output"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mxnzrmY5JgwI2DNY",
          "mode": "list",
          "cachedResultUrl": "/workflow/mxnzrmY5JgwI2DNY",
          "cachedResultName": "Call LLM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "provider": "=={{ $json.provider }}",
            "model": "=={{ $json.model }}",
            "system": "=={{ $json.system }}",
            "user_message": "=={{ $json.user_message }}",
            "max_tokens": "=={{ Number($json.max_tokens) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "provider",
              "displayName": "provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system",
              "displayName": "system",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "max_tokens",
              "displayName": "max_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -48,
        -368
      ],
      "id": "1f94da7e-207e-432c-b909-d49b0f1213f8",
      "name": "Call LLM",
      "retryOnFail": false,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build Prompt — Agent 4: Cover Letter Verifier\n// Persona and verification rules live in system_prompt (prompts tab, agent_4).\n// This node injects the OUTPUT CONTRACT (JSON schema + today's date +\n// factual-vs-strategic distinction) and the per-job inputs.\n// Severity is reported in full (critical/major/minor); the dashboard decides\n// what to surface vs. collapse. No producer-side severity filtering — aligned\n// with the resume verifier (agent_3).\n// Mode: Run Once for Each Item\nconst input = $input.item.json;\nconst coverletterMarkdown = input.cover_letter_markdown || '';\nconst masterDoc = input.master_doc || '';\nconst provider = input.provider;\nconst model = input.model;\nconst maxTokens = input.max_tokens;\nconst systemPromptFromDoc = input.system_prompt || '';\n// Validation\nif (!systemPromptFromDoc || systemPromptFromDoc.length < 100) {\n  throw new Error(`[Agent 4] system_prompt missing or too short (${systemPromptFromDoc.length} chars). Check Prompt Loader output and orchestrator mapping.`);\n}\nif (!masterDoc || masterDoc.length < 100) {\n  throw new Error(`[Agent 4] master_doc missing or too short (${masterDoc.length} chars)`);\n}\nif (!coverletterMarkdown || coverletterMarkdown.length < 30) {\n  throw new Error(`[Agent 4] cover_letter_markdown missing or too short (${coverletterMarkdown.length} chars)`);\n}\nconst today = new Date().toISOString().split('T')[0];\nconsole.log(`[Build Prompt] master_doc: ${masterDoc.length} chars, document: ${coverletterMarkdown.length} chars`);\nconsole.log(`[Build Prompt] systemPromptFromDoc: ${systemPromptFromDoc.length} chars`);\n// Pipeline-level output contract:\n// - JSON schema downstream depends on\n// - Today's date for runtime grounding\n// - Factual-vs-strategic distinction (essential for cover letter verification)\n// Severity scale matches the resume verifier: critical/major/minor, reported in full.\nconst OUTPUT_CONTRACT = `# OUTPUT CONTRACT (set by pipeline, do not override)\n\nToday's date is ${today}. Trust the master doc's stated dates; do not assume dates are typos or future fabrications.\n\n## Factual vs strategic framing (verifier scope)\nCover letters mix factual claims (must trace to master doc) with strategic framing (the candidate's perspective on the role or company). VERIFY factual claims; IGNORE strategic framing.\n\n- FACTUAL CLAIM (verify): \"I led product strategy for Amazon's image moderation platform that generated $30M+ in annual revenue.\"\n- STRATEGIC FRAMING (ignore): \"I'd sequence first around the subscription lifecycle.\" or \"The leverage point here is governance, not tooling.\"\n\nclaim_count and unsupported_count should reflect ONLY factual claims.\n\n## Severity\nAssign every flagged factual claim an honest severity of \"critical\", \"major\", or \"minor\" per the SEVERITY GUIDANCE in your instructions. Report ALL unsupported factual claims at every severity — do not omit minor ones. The unsupported_count must equal the number of items in the issues array.\n\n## Output JSON schema\nReturn ONLY valid JSON, no markdown wrapping, no preamble. Use this exact shape:\n\n{\n  \"verdict\": \"clean\" or \"hallucinations_found\",\n  \"summary\": \"<one-sentence overview>\",\n  \"claim_count\": <integer total factual claims checked>,\n  \"supported_count\": <integer>,\n  \"unsupported_count\": <integer>,\n  \"issues\": [\n    {\n      \"section\": \"greeting\" or \"body\" or \"signoff\",\n      \"claim\": \"<verbatim text from cover letter>\",\n      \"issue_type\": \"fabricated_company\" or \"fabricated_metric\" or \"fabricated_role\" or \"fabricated_skill\" or \"other\",\n      \"severity\": \"critical\" or \"major\" or \"minor\",\n      \"explanation\": \"<one-sentence explanation of why this isn't supported>\"\n    }\n  ]\n}\n\nList issues in severity order: all critical first, then major, then minor.\n\nIf everything is clean, return:\n{\n  \"verdict\": \"clean\",\n  \"summary\": \"All factual claims supported by master career document.\",\n  \"claim_count\": <N>,\n  \"supported_count\": <N>,\n  \"unsupported_count\": 0,\n  \"issues\": []\n}`;\nconst system = systemPromptFromDoc + '\\n\\n' + OUTPUT_CONTRACT;\nconst userMessage = `Examine the cover letter below for fabrication. Compare specific factual claims against the master career document.\n\n# CANDIDATE'S MASTER CAREER DOCUMENT (ground truth)\n\n${masterDoc}\n\n# GENERATED COVER LETTER TO VERIFY\n\n${coverletterMarkdown}`;\nconsole.log(`[Build Prompt] Final system: ${system.length} chars, user: ${userMessage.length} chars`);\nreturn {\n  json: {\n    provider,\n    model,\n    system,\n    user_message: userMessage,\n    max_tokens: maxTokens,\n    prompt_chars: system.length + userMessage.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -368
      ],
      "id": "6e7f9123-79f6-47a4-8cc4-1a3b1525aadb",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "cover_letter_markdown"
            },
            {
              "name": "master_doc"
            },
            {
              "name": "config",
              "type": "object"
            },
            {
              "name": "system_prompt"
            },
            {
              "name": "cascade_error",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -848,
        -528
      ],
      "id": "77c13c9b-b662-4433-baae-31f63c3ff184",
      "name": "Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "31b3d6b2-633e-4b74-9d24-62afc0bbfc3f",
              "leftValue": "={{ $json.cascade_error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -624,
        -384
      ],
      "id": "030ff7bc-ecf3-4033-9c3a-5b2d04e20eac",
      "name": "Cascade"
    },
    {
      "parameters": {
        "jsCode": "// Build Cascade Output — Agent 4\n// Mode: Run Once for All Items\n// Fires when upstream agent failed. Passes upstream error through unchanged.\n// `cascaded: true` flag lets Log Job Result dedupe (don't re-log original failures).\n\nconst trigger = $('Trigger').first().json;\nconst upstreamError = trigger.cascade_error || {};\n\nconsole.log(`[Agent 4] CASCADE — skipping due to ${upstreamError.source_agent || 'upstream'}: ${upstreamError.category || 'unknown'}`);\n\nreturn [{\n  json: {\n    success: false,\n    cascaded: true,\n    result: {},\n    tokens: { input: 0, output: 0 },\n    cached_input_tokens: 0,\n    cache_write_tokens: 0,\n    model_used: 'skipped',\n    provider_used: 'skipped',\n    errors: [`cascade: ${upstreamError.source_agent || 'upstream'}:${upstreamError.category || 'unknown'}`],\n    error: upstreamError\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -560
      ],
      "id": "b9c6c744-6bf6-4abb-86c6-69ccc624bd1d",
      "name": "Build Cascade Output"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Cascade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Cascade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cascade": {
      "main": [
        [
          {
            "node": "Build Cascade Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d0d1e589-2931-4bb5-acb9-1b3240ea0947",
  "activeVersionId": "d0d1e589-2931-4bb5-acb9-1b3240ea0947",
  "versionCounter": 122,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-09T04:06:21.770Z",
      "createdAt": "2026-05-09T04:06:21.770Z",
      "role": "workflow:owner",
      "workflowId": "HIloJhcza78DPp26",
      "projectId": "kZS932EjZfpXmb7H",
      "project": {
        "updatedAt": "2026-05-06T02:54:00.051Z",
        "createdAt": "2026-05-06T02:52:14.918Z",
        "id": "kZS932EjZfpXmb7H",
        "name": "Maestro AI",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e4ae7d04-ed18-4bb8-a6ad-b4b4dcae93ec"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version d0d1e589",
    "description": ""
  }
}