workflows/agents/Agent_2_-_Cover_Letter_Builder.json
{
  "updatedAt": "2026-06-07T03:30:23.848Z",
  "createdAt": "2026-05-08T01:46:52.644Z",
  "id": "20EgqWo1GguKGGff",
  "name": "Agent 2 - Cover Letter Builder",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        -288
      ],
      "id": "827ca173-ee17-4ff1-83b5-953612abef04",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build Cover Letter Prompt — Agent 2: Cover Letter Builder\n// Persona + writing rules live in system_prompt (prompts tab, agent_2).\n// This node injects the per-job inputs and an OUTPUT CONTRACT for plain-markdown\n// letter output. Builds FROM master doc + JD (never a resume).\n// Mode: Run Once for Each Item\nconst input = $input.item.json;\nconst systemPromptFromDoc = input.system_prompt || '';\nconst masterDoc = input.master_doc || '';\nconst descriptionHtml = input.description_html || '';\nconst company = input.company || '';\nconst title = input.title || '';\nconst provider = input.provider;\nconst model = input.model;\nconst maxTokens = input.max_tokens;\n\n// Validation — Agent 2 builds the letter, so it needs the source inputs, NOT an\n// existing cover_letter_markdown (that's the verifier/refiner's input).\nif (!systemPromptFromDoc || systemPromptFromDoc.length < 100) {\n  throw new Error(`[Agent 2] system_prompt missing or too short (${systemPromptFromDoc.length} chars). Check Prompt Loader (agent_2) and caller mapping.`);\n}\nif (!masterDoc || masterDoc.length < 100) {\n  throw new Error(`[Agent 2] master_doc missing or too short (${masterDoc.length} chars).`);\n}\nif (!descriptionHtml || descriptionHtml.length < 30) {\n  throw new Error(`[Agent 2] description_html (JD) missing or too short (${descriptionHtml.length} chars).`);\n}\n\nconst OUTPUT_CONTRACT = `## OUTPUT CONTRACT (set by pipeline, do not override)\n- Output ONLY the cover letter in markdown.\n- Do NOT wrap in JSON or any envelope.\n- Do NOT add commentary, preamble, or notes before or after the letter.\n- Start directly with the greeting/first line of the letter.\n- Every factual claim must trace to the master career document — invent nothing.\n- Write in prose paragraphs (no bullet points or lists).\n- Stay within the configured word limit.`;\n\nconst system = systemPromptFromDoc + '\\n\\n' + OUTPUT_CONTRACT;\n\nconst userMessage = `Write a cover letter for the following role, drawing only on facts from the candidate's master career document.\n\n# ROLE\nCompany: ${company}\nTitle: ${title}\n\n# JOB DESCRIPTION\n${descriptionHtml}\n\n# CANDIDATE'S MASTER CAREER DOCUMENT (ground truth — every claim must trace here)\n${masterDoc}`;\n\nconsole.log(`[Agent 2 Build Prompt] system: ${system.length} chars, user: ${userMessage.length} chars, master_doc: ${masterDoc.length}, jd: ${descriptionHtml.length}`);\n\nreturn {\n  json: {\n    provider,\n    model,\n    system,\n    user_message: userMessage,\n    max_tokens: maxTokens,\n    prompt_chars: system.length + userMessage.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -288
      ],
      "id": "ecd521cd-bd5c-42f3-8522-d6d15ea57093",
      "name": "Build Cover Letter Prompt"
    },
    {
      "parameters": {
        "jsCode": "// Set Inputs — Agent 2: Cover Letter Builder\nconst trigger = $input.item.json;\n\nfunction strip(val) {\n  if (val === null || val === undefined) return '';\n  if (typeof val !== 'string') return val;\n  let cleaned = val;\n  while (cleaned.length > 0 && cleaned.charAt(0) === '=') {\n    cleaned = cleaned.substring(1);\n  }\n  return cleaned;\n}\n\nconst config = trigger.config || {};\nconst systemPrompt = strip(trigger.system_prompt);\nconst company = strip(trigger.company);\nconst title = strip(trigger.title);\nconst descriptionHtml = strip(trigger.description_html);\nconst masterDoc = strip(trigger.master_doc);\nconst location = strip(trigger.location);\nconst url = strip(trigger.url);\n\nconst provider = strip(config.provider_cover_letter_drafter);\nif (!provider) {\n  throw new Error('[Agent 2] config.provider_cover_letter_drafter is required. Set it in your config sheet (anthropic | openai | gemini).');\n}\n\nconst model = strip(config.model_cover_letter_drafter);\nif (!model) {\n  throw new Error('[Agent 2] config.model_cover_letter_drafter is required. Set it in your config sheet.');\n}\n\nconst maxTokens = Number(config.max_tokens_cover_letter_drafter);\nif (!maxTokens || Number.isNaN(maxTokens)) {\n  throw new Error('[Agent 2] config.max_tokens_cover_letter_drafter is required and must be a number.');\n}\n\nconsole.log(`[Agent 2 Set Inputs] master_doc: ${masterDoc.length} chars, provider: ${provider}, model: ${model}`);\n\nreturn {\n  json: {\n    config,\n    system_prompt: systemPrompt,\n    company,\n    title,\n    location,\n    url,\n    description_html: descriptionHtml,\n    master_doc: masterDoc,\n    provider,\n    model,\n    max_tokens: maxTokens\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -288
      ],
      "id": "6ffb7923-44c3-41b5-b25a-ee800b45f33a",
      "name": "Set Inputs"
    },
    {
      "parameters": {
        "jsCode": "// Agent 2: format output as standard envelope\n// Mode: Run Once for All Items\n// Propagates structured error from Call LLM on failure.\n\nconst llmResponse = $input.first().json;\n\n// Call LLM failed — propagate error without quality checks on empty content\nif (llmResponse.success === false) {\n  console.log(`[Agent 2] LLM call failed: ${llmResponse.error?.category || 'unknown'} — ${llmResponse.error?.message || 'no message'}`);\n  return [{\n    json: {\n      success: false,\n      result: { cover_letter_markdown: '' },\n      tokens: {\n        input: llmResponse.input_tokens || 0,\n        output: llmResponse.output_tokens || 0\n      },\n      cached_input_tokens: llmResponse.cached_input_tokens || 0,\n      cache_write_tokens: llmResponse.cache_write_tokens || 0,\n      model_used: llmResponse.model_used || 'unknown',\n      provider_used: llmResponse.provider_used || 'unknown',\n      errors: [...(llmResponse.errors || [])],\n      error: llmResponse.error || {\n        category: 'unknown',\n        type: 'unknown',\n        message: 'Call LLM returned success: false with no error object',\n        provider: llmResponse.provider_used || 'unknown',\n        model: llmResponse.model_used || 'unknown'\n      }\n    }\n  }];\n}\n\n// Normal path: parse cover letter from content\nconst coverLetterMarkdown = (llmResponse.content || '')\n  .trim()\n  .replace(/^```(?:markdown|md)?\\s*\\n?/i, '')\n  .replace(/\\n?```\\s*$/i, '')\n  .trim();\n\nconst errors = [...(llmResponse.errors || [])];\nlet error = null;\n\nif (coverLetterMarkdown.length <= 100) {\n  errors.push('Cover letter output suspiciously short or empty');\n  error = {\n    category: 'output_quality',\n    type: 'short_output',\n    message: 'Cover letter output suspiciously short or empty',\n    provider: llmResponse.provider_used || 'unknown',\n    model: llmResponse.model_used || 'unknown'\n  };\n}\n\nconst success = coverLetterMarkdown.length > 100;\n\nconsole.log(`[Agent 2] Output: ${coverLetterMarkdown.length} chars`);\nconsole.log(`[Agent 2] Tokens: ${llmResponse.input_tokens || 0}in + ${llmResponse.output_tokens || 0}out + ${llmResponse.cached_input_tokens || 0}cached + ${llmResponse.cache_write_tokens || 0}cache_write`);\n\nreturn [{\n  json: {\n    success,\n    result: { cover_letter_markdown: coverLetterMarkdown },\n    tokens: {\n      input: llmResponse.input_tokens || 0,\n      output: llmResponse.output_tokens || 0\n    },\n    cached_input_tokens: llmResponse.cached_input_tokens || 0,\n    cache_write_tokens: llmResponse.cache_write_tokens || 0,\n    model_used: llmResponse.model_used || 'unknown',\n    provider_used: llmResponse.provider_used || 'unknown',\n    errors,\n    error\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -288
      ],
      "id": "e7ba615f-7dc8-4b55-804f-83c9d3ff480c",
      "name": "Format Output"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mxnzrmY5JgwI2DNY",
          "mode": "list",
          "cachedResultUrl": "/workflow/mxnzrmY5JgwI2DNY",
          "cachedResultName": "Call LLM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "provider": "=={{ $json.provider }}",
            "model": "=={{ $json.model}}",
            "system": "=={{ $json.system }}",
            "user_message": "=={{ $json.user_message }}",
            "max_tokens": "=={{ Number($json.max_tokens) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "provider",
              "displayName": "provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system",
              "displayName": "system",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "max_tokens",
              "displayName": "max_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -496,
        -288
      ],
      "id": "4adbcc6c-2638-428c-8b24-d46e9cfa4e58",
      "name": "Call LLM",
      "retryOnFail": false,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "company"
            },
            {
              "name": "title"
            },
            {
              "name": "location"
            },
            {
              "name": "url"
            },
            {
              "name": "description_html"
            },
            {
              "name": "master_doc"
            },
            {
              "name": "config",
              "type": "object"
            },
            {
              "name": "system_prompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1136,
        -464
      ],
      "id": "91d2be9d-9ca3-4452-ad98-de3b8ec92c31",
      "name": "Trigger"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cover Letter Prompt": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "Build Cover Letter Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "69c714e7-671d-4f34-b354-f07f3994e2e8",
  "activeVersionId": "69c714e7-671d-4f34-b354-f07f3994e2e8",
  "versionCounter": 170,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-08T01:46:52.646Z",
      "createdAt": "2026-05-08T01:46:52.646Z",
      "role": "workflow:owner",
      "workflowId": "20EgqWo1GguKGGff",
      "projectId": "kZS932EjZfpXmb7H",
      "project": {
        "updatedAt": "2026-05-06T02:54:00.051Z",
        "createdAt": "2026-05-06T02:52:14.918Z",
        "id": "kZS932EjZfpXmb7H",
        "name": "Maestro AI",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e4ae7d04-ed18-4bb8-a6ad-b4b4dcae93ec"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 69c714e7",
    "description": ""
  }
}