workflows/shared/Job_Fetcher.json
{
  "updatedAt": "2026-06-03T22:00:21.464Z",
  "createdAt": "2026-05-15T20:55:29.554Z",
  "id": "kKECKP5AxwkricJh",
  "name": "Job Fetcher",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -96
      ],
      "id": "98ebacc2-f7a4-4237-920a-0bbe499b7d70",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "config",
              "type": "object"
            },
            {
              "name": "watchlist",
              "type": "array"
            },
            {
              "name": "run_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        -240
      ],
      "id": "b04b0bf6-3deb-4a91-88bb-27c046bd9a54",
      "name": "Trigger"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json);\n\nconst failures = all.filter(x => x?._type === 'failure');\nconst usage = all.filter(x => x?._type === 'usage');\nconst rawJobs = all.filter(x => x?._type === 'job');\n\n// Strip _type from jobs; downstream nodes don't need it\nconst jobs = rawJobs.map(({ _type, ...rest }) => rest);\n\nconst bySource = jobs.reduce((acc, j) => {\n  const s = j.source || 'unknown';\n  acc[s] = (acc[s] || 0) + 1;\n  return acc;\n}, {});\n\nconsole.log(`[Job Fetcher] ${jobs.length} jobs, ${failures.length} failures, ${usage.length} usage`);\n\nreturn [{\n  json: {\n    jobs: jobs,\n    failures: failures,\n    usage: usage,\n    stats: {\n      total: jobs.length,\n      per_source: bySource,\n      failures_count: failures.length\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -64
      ],
      "id": "c3e21958-2150-4af2-8eab-d4fa7c033e5c",
      "name": "Aggregate Output"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mrj4z2FQx62Czp14",
          "mode": "list",
          "cachedResultUrl": "/workflow/mrj4z2FQx62Czp14",
          "cachedResultName": "JSearch Source"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "config": "={{ $json.config }}",
            "run_id": "={{ $json.run_id }}"
          },
          "matchingColumns": [
            "config"
          ],
          "schema": [
            {
              "id": "config",
              "displayName": "config",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -16,
        -240
      ],
      "id": "4a083335-1c66-41ab-9d6d-8afb245ba392",
      "name": "JSearch Source",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nadqyh6bW97g7LmB",
          "mode": "list",
          "cachedResultUrl": "/workflow/Nadqyh6bW97g7LmB",
          "cachedResultName": "Greenhouse Source"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "config": "={{ $json.config }}",
            "watchlist": "={{ $json.watchlist }}",
            "run_id": "={{ $json.run_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "config",
              "displayName": "config",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "watchlist",
              "displayName": "watchlist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        -48
      ],
      "id": "2beff52c-196e-4159-84cb-8f4e8423fdcf",
      "name": "Greenhouse Source",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wPnJrM4C4I3TpsZE",
          "mode": "list",
          "cachedResultUrl": "/workflow/wPnJrM4C4I3TpsZE",
          "cachedResultName": "Lever Source"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "config": "={{ $json.config }}",
            "watchlist": "={{ $json.watchlist }}",
            "run_id": "={{ $json.run_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "config",
              "displayName": "config",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "watchlist",
              "displayName": "watchlist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        16,
        144
      ],
      "id": "ec01a811-88c4-4e54-a497-36255e8ad840",
      "name": "Lever Source",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        -80
      ],
      "id": "ad3ff35e-fad3-4c6c-967c-eda1ca37b82f",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZnsIenRL8dIeVsuP",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZnsIenRL8dIeVsuP",
          "cachedResultName": "Ashby Source"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "config": "={{ $json.config }}",
            "watchlist": "={{ $json.watchlist }}",
            "run_id": "={{ $json.run_id}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "config",
              "displayName": "config",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "watchlist",
              "displayName": "watchlist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        16,
        336
      ],
      "id": "ab4a3449-0c39-4beb-a37a-5d0fddd031df",
      "name": "Ashby Source"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "JSearch Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lever Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Greenhouse Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ashby Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "JSearch Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lever Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Greenhouse Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ashby Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSearch Source": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greenhouse Source": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate Output": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lever Source": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Ashby Source": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "19d531a8-7ae5-4a0f-94c5-8bb0721f64a2",
  "activeVersionId": "19d531a8-7ae5-4a0f-94c5-8bb0721f64a2",
  "versionCounter": 173,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-15T20:55:29.556Z",
      "createdAt": "2026-05-15T20:55:29.556Z",
      "role": "workflow:owner",
      "workflowId": "kKECKP5AxwkricJh",
      "projectId": "kZS932EjZfpXmb7H",
      "project": {
        "updatedAt": "2026-05-06T02:54:00.051Z",
        "createdAt": "2026-05-06T02:52:14.918Z",
        "id": "kZS932EjZfpXmb7H",
        "name": "Maestro AI",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e4ae7d04-ed18-4bb8-a6ad-b4b4dcae93ec"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 19d531a8",
    "description": ""
  }
}